
@font-face {
  font-family: 'fuenteagenda'; 
  src: url('calendario1/Marlboro/Marlboro.ttf'); 
}

.cencabezado {
	background: #eee;
	border-top: 1px solid #fff;
	width: 100%;
	display: block;  
	margin: 0px auto; 
	padding: 15px; 
	text-align: center; 
	-moz-border-radius: 10px; 
  	-webkit-border-radius: 10px; 
  	border-radius: 10px;
}



.cencabezado .cencdos {
	font:bold 16px fuenteagenda, verdana, sans-serif;
	text-align: center;
	padding: 0;
	width:100%;
	background: url(calendario1/images/header-bg.png) repeat-x;
}



.choras{
	width:15%;
	background-color:#6CF;
	text-align: center;
	-moz-border-radius: 5px; 
  	-webkit-border-radius: 5px; 
 	border-radius: 5px;

}

.cminutos{
	width:3%;
	background-color:#6CF;
	text-align: center;
	-moz-border-radius: 5px; 
  	-webkit-border-radius: 5px; 
 	border-radius: 5px;

}

.cmensaje{
	width: 100%;
	background-color:#FFC;
	text-align: center;
	-moz-border-radius: 5px; 
  	-webkit-border-radius: 5px; 
 	border-radius: 5px;

}

.tmensajes {
	margin:=0;
	padding:=0;

}



