

#bgventanamodal
{
	background-image: url(../imagenes/bgModal.png);
	position: fixed;
	z-index: 90;
	height: 100%;
	width: 100%;
	left: 0px;
	top: 0px;
	visibility: hidden;
}
#ventanamodal
{
	background-color: #CCC;
	border: 10px solid #FFF;
	position: absolute;
	z-index: 95;
	height: 500px;
	width: 900px;
	left: 50%;
	top: 50%;
	margin-top: -250px;
	margin-left: -450px;
}
#bgventanamodal2
{
	background-image: url(../imagenes/bgModal.png);
	position: fixed;
	z-index: 90;
	height: 100%;
	width: 100%;
	left: 0px;
	top: 0px;
	visibility: hidden;
}
#ventanamodal2
{
	background-color: #CCC;
	border: 10px ridge rgba(145,177,211,1.00);
	position: absolute;
	z-index: 95;
	height: 500px;
	width: 900px;
	left: 50%;
	top: 50%;
	margin-top: -250px;
	margin-left: -450px;
	box-shadow: 10px 10px 0px rgba(21,21,21,0.43);
}
#bgventanamodal3
{
	background-image: url(../imagenes/bgModal.png);
	position: fixed;
	z-index: 90;
	height: 100%;
	width: 100%;
	left: 0px;
	top: 0px;
	visibility: hidden;
}
#ventanamodal3
{
	background-image: url(../imagenes/fffondo1.jpg);
	border: 10px solid #FFF;
	position: absolute;
	z-index: 95;
	height: 130px;
	width: 700px;
	left: 50%;
	top: 50%;
	margin-top: -120px;
	margin-left: -350px;
	
}
#bgmodalmensajes
{
	background-image: url(../imagenes/bgModal.png);
	position: fixed;
	z-index: 90;
	height: 100%;
	width: 100%;
	left: 0px;
	top: 0px;
	visibility: hidden;
}
#modalmensajes
{
	background-color: #CCC;
	border: 10px solid #FFF;
	position: absolute;
	z-index: 95;
	height: 99px;
	width: 410px;
	left: 50%;
	top: 50%;
	margin-top: -150px;
	margin-left: -250px;
}

/*#ventanamensaje1 {visibility: hidden;}*/

/*formato diferentes para los label*/
.etiq0 {font-size:11px; font-weight:normal;}
.etiq1 {font-size:11px; font-weight:bold;}
.etiq2 {font-size:11px; font-weight:normal;float:right;}
/*Formato marquesina*/
.cmarquesina
{
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
	font-size:11px;
	background-color:#ffffff;
	font-weight:normal;
	border:#CCCCCC 1px solid;
	padding-left:3px;
	padding-right:3px;
	margin-bottom:1px;
	margin-top:1px;
	height:100px;
	width:390px;
	-moz-border-radius: 2px;  
	-webkit-border-radius: 2px;
	text-align:left;
}
.mmensajes1
{
	border: 1px none;
	align:center;
	width:350;
	padding:5px;
	margin:0 auto 0 auto;
	margin-top:10px;
}
.letmar
{
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
	font-size:11px;
}
.ocultanuevo{ position: relative; display:none; }
.renglon
{
	background-color:#09C;
	color:#FFF;
	font-weight:bold;
	text-align:left;
	margin:1px 1px 1px 1px;	
	border:#eee thin solid;	
	box-shadow: 0 0 10px #aaa;
	-webkit-box-shadow: 0 0 10px #aaa;
	-moz-box-shadow: 0 0 10px #aaa;
}
.renglon2
{
	background-color:#fff;
	margin:1px 1px 1px 1px;	
	border:#eee thin solid;	
}
.subpantallac55
{
	margin-top:5px;	
	height:365px;
	overflow:scroll;
	width:99.8%;
	margin-left:3px;
	border:#CCC;
	border-style:solid;
	border-width:thin;
	box-shadow: 0 0 5px #222;
	-webkit-box-shadow: 0 0 5px #222;
	-moz-box-shadow: 0 0 5px #222;
	-moz-border-radius: 5px;  
	-webkit-border-radius: 5px;
}
div.upload
{
	position: relative;
	width: 20px;
	height: 19px;
	overflow:hidden;
	background:url(btn_upload.png) left top no-repeat;
	clip:rect(0px, 80px, 24px, 0px );
}
div.upload input
{
	position: absolute;
	left: auto;
	right: 0px;
	top: 0px;
	margin:0;
	padding:0;
	filter: Alpha(Opacity=0);
	-moz-opacity: 0;
	opacity: 0;
}

.inpnovisibles
{
	background-color:transparent !important;
	border: none !important;
}
.mgbt12
{
	margin-right:0.3cm;
	cursor:pointer;
	height:25px;
}
.mgbt12:hover
{
	margin-right:0.3cm;
	cursor:pointer;
	height:25px;
	border:dashed;
	border-color:#00CCFF;
	/*background: radial-gradient(#02CB44 10%,#53FFC1 70%);*/
}
.mgbt 
{
	margin-right:0.4cm;
	cursor:pointer;
	height:25px;
	opacity: 0.8;
	border: 1px solid #eee;
	/* transition: all 0.5s ease; */
	box-reflect: below 0px -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(.7, transparent), to(rgba(0,0,0,0.1)));
}
.mgbt:hover 
{
	opacity: 1;
	cursor:pointer;
	height:25px;
	box-reflect: below 0px -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(.7, transparent), to(rgba(0,0,0,0.4)));
	box-shadow: 0px 0px 20px rgba(50,50,255,0.8);
}
.mgbt1
{
	margin-right:0.4cm;
	height:25px;
	cursor:default;	
	opacity: 0.8;
	border: 1px solid #eee;
}
.icobut
{
	height:22px;
	width:20px;
	cursor:pointer;
	opacity: 0.8;
	border: 1px solid #fff;
	transition: all 0.5s ease;
	box-reflect: below 0px -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(.7, transparent), to(rgba(0,0,0,0.1)));
}
.icobut:hover
{
	height:22px;
	width:20px;
	cursor:pointer;
	opacity: 1;
	box-reflect: below 0px -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(.7, transparent), to(rgba(0,0,0,0.4)));
	box-shadow: 0px 0px 20px rgba(50,50,255,0.8);
}
.icobut1
{
	height:20px;
	width:20px;
	cursor:default;
}
.icobut2
{
	height:28px;
	width:25px;
	cursor:pointer;
	opacity: 0.8;
	border: 1px solid #fff;
	transition: all 0.5s ease;
	box-reflect: below 0px -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(.7, transparent), to(rgba(0,0,0,0.1)));
}
.icobut2:hover
{
	height:28px;
	width:25px;
	cursor:pointer;
	opacity: 1;
	box-reflect: below 0px -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(.7, transparent), to(rgba(0,0,0,0.4)));
	box-shadow: 0px 0px 20px rgba(50,50,255,0.8);
}
.icoop
{
	height:20px;
	/* width:20px; */
	cursor:pointer;
	opacity: 0.8;
	transition: all 0.5s ease;
	box-reflect: below 0px -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(.7, transparent), to(rgba(0,0,0,0.1)));
}
.icoop:hover
{
	height:20px;
	width:20px;
	cursor:pointer;
	border: 1px solid #40b3ff;
	opacity: 1;
	box-reflect: below 0px -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(.7, transparent), to(rgba(0,0,0,0.4)));
	box-shadow: 0px 0px 20px rgba(13,179,51,0.9);
}
.icoop2
{
	height:20px;
	width:20px;
	cursor:pointer;
	opacity: 0.8;
	transition: all 0.5s ease;
	box-reflect: below 0px -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(.7, transparent), to(rgba(0,0,0,0.1)));
}
.icoop2:hover
{
	height:20px;
	width:20px;
	cursor:pointer;
	border: 0px solid #40b3ff;
	opacity: 1;
	box-reflect: below 0px -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(.7, transparent), to(rgba(0,0,0,0.4)));
	box-shadow: 0px 0px 20px rgba(200,0,200,0.8);
}
.icoop1
{
	height:20px;
	width:20px;
	cursor:default;
}
.icorot
{
	height:22px;
	width:22px;
	
}
.icorot:hover
{
	height:22px;
	width:22px;
	cursor:pointer;
	transition: all 5s ease-in-out;
	transform: rotate(-1220deg);
}
.icomen1
{
	height:17px;
	width:17px;
	cursor:pointer;
	opacity: 0.8;
	transition: all 0.5s ease;
	box-reflect: below 0px -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(.7, transparent), to(rgba(0,0,0,0.1)));
}
.icomen1:hover
{
	height:17px;
	width:17px;
	cursor:pointer;
	opacity: 1;
	box-reflect: below 0px -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(.7, transparent), to(rgba(0,0,0,0.4)));
	box-shadow: 0px 0px 20px rgba(200,0,200,0.8);
}
.icomen1n
{
	height:17px;
	width:17px;
	cursor:default;
}
.icomen2
{
	height:17px;
	width:17px;
	cursor:pointer;
	opacity: 0.8;
	transition: all 0.5s ease;
	box-reflect: below 0px -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(.7, transparent), to(rgba(0,0,0,0.1)));
}
.icomen2:hover
{
	height:17px;
	width:17px;
	cursor:pointer;
	opacity: 1;
	box-reflect: below 0px -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(.7, transparent), to(rgba(0,0,0,0.4)));
	box-shadow: 0px 0px 20px rgba(200,0,200,0.8);
}
.icomen2n
{
	height:17px;
	width:17px;
	cursor:default;
}
.icomen3
{
	cursor:pointer;
	text-align:center;
	opacity: 0.8;
	transition: all 0.5s ease;
	box-reflect: below 0px -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(.7, transparent), to(rgba(0,0,0,0.1)));
}
.icomen3:hover
{
	cursor:pointer;
	text-align:center;
	opacity: 1;
	box-reflect: below 0px -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(.7, transparent), to(rgba(0,0,0,0.4)));
	box-shadow: 0px 0px 20px rgba(200,0,200,0.8);
}
.icomen3n {cursor:default;}
.bgventanamodal
{
	background-image: url(../imagenes/bgModal.png);
	position: fixed;
	z-index: 90;
	height: 100%;
	width: 100%;
	left: 0px;
	top: 0px;
	visibility: hidden;
}
.ventanamodal
{
	background-color: #CCC;
	border: 10px solid #FFF;
	position: absolute;
	z-index: 95;
	height: 500px;
	width: 900px;
	left: 50%;
	top: 50%;
	margin-top: -250px;
	margin-left: -450px;
}
.bgventanamodalm
{
	background-image: url(../imagenes/bgModal.png);
	position: fixed;
	z-index: 98;
	height: 100%;
	width: 100%;
	left: 0px;
	top: 0px;
	visibility: hidden;
}
.ventanamodalm
{
	background-color: #CCC;
	border: 10px ridge rgba(145,177,211,1.00);
	position: absolute;
	z-index: 99;
	height: 130px;
	width: 700px;
	left: 50%;
	top: 50%;
	margin-top: -120px;
	margin-left: -350px;
	box-shadow: 10px 10px 0px rgba(21,21,21,0.43);
}
.bgventanamodalm3
{
	background-image: url(../imagenes/bgModal.png);
	position: fixed;
	z-index: 98;
	height: 100%;
	width: 100%;
	left: 0px;
	top: 0px;
	visibility: hidden;
}
.ventanamodalm3
{
	background-color: #CCC;
	border: 10px ridge rgba(145,177,211,1.00);
	position: absolute;
	z-index: 99;
	height: 600px;
	width: 700px;
	left: 50%;
	top: 20%;
	margin-top: -120px;
	margin-left: -350px;
	box-shadow: 10px 10px 0px rgba(21,21,21,0.43);
}
.defaultradio{display:block !important; }

.defaultcheckbox
{
	width: 13px;
	height: 13px;
	margin:0;
	vertical-align: bottom;
	position: relative;
	top: -1px;
}
.submenu
{
	background-color:#fff;
	border:thin #999 solid;
	font-size: 10px;
}
/* Ahora creo el estilo que hara que aparesca el porcentanje y relleno del mismoo*/
.ProgressBar
{
	width: 16em;
	border: 1px solid black;
	background: #eef;
	height: 1.25em;
	display: block;
}
.ProgressBarText
{
	position: absolute;
	font-size: 1em;
	width: 16em;
	text-align: center;
	font-weight: normal;
	color:#000 !important;
}
.ProgressBarFill
{
	height: 100%;
	background:#09F;
	display: block;
	overflow: visible;
	color:#000 !important;
}
.tkardes01
{
	text-align:justify;
	background:-webkit-linear-gradient(#7EBDDE,#44A1D0,#44A1D0,#7EBDDE );
	background-repeat:no-repeat;
	background-attachment:local;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
	font-size:11px;
	font-weight:bold;
	color:#fff;
	height:20px;
	padding-left:2px;
	border-radius: 1px;
}
.tamano01
{
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
	font-size:12px;
	background-color: #efF;
	font-weight:bold;
	border:#CCCCCC 1px solid;
	padding-left:3px;
	padding-right:3px;
	margin-bottom:1px;
	margin-top:1px;
	border-radius: 1px;
	height:25px
}
.tamano02
{
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
	font-size:12px !important;
	height:25px !important;
}
.tamano03
{
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
	font-size:12px;
	background-color:#eee;
	font-weight:normal;
	border:#CCCCCC 1px solid;
	padding-left:3px;
	padding-right:3px;
	margin-bottom:1px;
	margin-top:1px;
	height:25px;
	border-radius: 2px;
}
.marco01
{
	margin-top:-2px;
	margin-bottom:-2px;
	border-top:#999999 1px solid;
	border-left:#999999 1px solid;
	border-right:#999999 1px solid;
	border-bottom:#999999 1px solid;
	padding-right:1px;
	padding-left:1px;
	padding-bottom:1px;
	padding-top:1px;
	width:100px;
	background-color:#f5f5f5;
}
.mfoto01
{
	margin-left:10px;
	position:relative;
	height:160px;
	width:120px;
	border-top:#999999 1.5px solid;
	border-left:#999999 1.5px solid;
	border-right:#999999 1.5px solid;
	border-bottom:#999999 1.5px solid;
	padding-right:1px;
	padding-left:1px;
	padding-bottom:1px;
	padding-top:1px;
	background-color:#f5f5f5;
}
.mfoto01 span
{
	width:20px;
	height:20px;
	display:block;
	position:absolute;
	top:-12px;
	left:55px;
	background: url(../imagenes/pin.png)
}
.mfoto02
{
	margin-left:10px;
	position:relative;
	border-top:#999999 1.5px solid;
	border-left:#999999 1.5px solid;
	border-right:#999999 1.5px solid;
	border-bottom:#999999 1.5px solid;
	padding-right:1px; float:left;
	padding-left:1px;
	padding-bottom:1px;
	padding-top:1px;
	background-color:#f5f5f5;
}
.mfoto02 span
{
	width:20px;
	height:20px;
	display:block;
	position:absolute;
	top:-12px;
	left:50px;
	background: url(../imagenes/pin.png)
}
.mfoto03
{
	margin-left:10px;
	position:relative; 
	border-top:#999999 1.5px solid;
	border-left:#999999 1.5px solid;
	border-right:#999999 1.5px solid;
	border-bottom:#999999 1.5px solid;
	padding-right:1px; float:left;
	padding-left:1px;
	padding-bottom:1px;
	padding-top:1px;
	background-color:#f5f5f5;
}
.mfoto03 span
{
	width:20px;
	height:20px;
	display:block;
	position:absolute;
	top:-12px;
	left:50px;
	background: url(../imagenes/pin.png)
}
.subpantallap11
{
	padding-right:0px;
	overflow:scroll;
	border:#CCC;
	border-style:solid;
	border-width:thin;
	box-shadow: 0 0 5px #222;
	border-radius: 5px;  
}

#divchat {float:right;}

.lblchat
{
	font-family:Arial, Helvetica, sans-serif;
	font-size:10px;
}
.saludo1b
{
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
	font-size:9px;
	background-color: #efF;
	font-weight:normal;
	border:#eeeeee 1px solid;
	padding-left:3px;
	padding-right:3px;
	margin-bottom:1px;
	margin-top:1px;
	height:10px;
	border-radius: 1px;
}
.saludo1b:hover
{
	background: -moz-linear-gradient(#40f3ff, #40b3ff 70%, #40f3ff);
	background: -webkit-linear-gradient(#40f3ff, #40b3ff 70%, #40f3ff);
	background: -webkit-gradient(linear, 0 0, 0 100%, from(#40f3ff), color-stop(0.7, #40b3ff), to(#40f3ff));
	background: -o-linear-gradient(#40f3ff, #40b3ff 70%, #40f3ff);
	background: linear-gradient(#40f3ff, #40b3ff 70%, #40f3ff);
}
.saludo2b
{
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
	font-size:9px;
	background-color:#eee;
	font-weight:normal;
	border:#CCCCCC 1px solid;
	padding-left:3px;
	padding-right:3px;
	margin-bottom:1px;
	margin-top:1px;
	height:10px;
	border-radius: 2px;
}
.saludo2b:hover
{
	background: -moz-linear-gradient(#40f3ff, #40b3ff 70%, #40f3ff);
	background: -webkit-linear-gradient(#40f3ff, #40b3ff 70%, #40f3ff);
	background: -webkit-gradient(linear, 0 0, 0 100%, from(#40f3ff), color-stop(0.7, #40b3ff), to(#40f3ff));
	background: -o-linear-gradient(#40f3ff, #40b3ff 70%, #40f3ff);
	background: linear-gradient(#40f3ff, #40b3ff 70%, #40f3ff);
}
.saludo1c
{
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
	font-size:12px;
	background-color: #efF;
	font-weight:normal;
	border:#eeeeee 1px solid;
	padding-left:3px;
	padding-right:3px;
	margin-bottom:1px;
	margin-top:1px;
	height:10px;
	border-radius: 1px;
}
.saludo1c:hover
{
	background: -moz-linear-gradient(#40f3ff, #40b3ff 70%, #40f3ff);
	background: -webkit-linear-gradient(#40f3ff, #40b3ff 70%, #40f3ff);
	background: -webkit-gradient(linear, 0 0, 0 100%, from(#40f3ff), color-stop(0.7, #40b3ff), to(#40f3ff));
	background: -o-linear-gradient(#40f3ff, #40b3ff 70%, #40f3ff);
	background: linear-gradient(#40f3ff, #40b3ff 70%, #40f3ff);
}
.saludo2c
{
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
	font-size:12px;
	background-color:#eee;
	font-weight:normal;
	border:#CCCCCC 1px solid;
	padding-left:3px;
	padding-right:3px;
	margin-bottom:1px;
	margin-top:1px;
	height:10px;
	border-radius: 2px;
}
.saludo2c:hover
{
	background: -moz-linear-gradient(#40f3ff, #40b3ff 70%, #40f3ff);
	background: -webkit-linear-gradient(#40f3ff, #40b3ff 70%, #40f3ff);
	background: -webkit-gradient(linear, 0 0, 0 100%, from(#40f3ff), color-stop(0.7, #40b3ff), to(#40f3ff));
	background: -o-linear-gradient(#40f3ff, #40b3ff 70%, #40f3ff);
	background: linear-gradient(#40f3ff, #40b3ff 70%, #40f3ff);
}
.resaltar01
{
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
	font-size:12px;
	background-color: #9FFFC9;
	font-weight:normal;
	border:#CCCCCC 1px solid;
	padding-left:3px;
	padding-right:3px;
	margin-bottom:1px;
	margin-top:1px;
	height:10px;
	border-radius: 1px;
}
input[type='date'][readonly]
{
	background-color:#E6F7FF;
	color:#333;
	border-color:#ccc;
}
.panel-verde {border-color: #4cae4c;}
.panel-verde > .panel-heading
{
	color: #fff;
	background-color: #4cae4c;
	border-color: #4cae4c;
}
.panel-verde > .panel-heading + .panel-collapse > .panel-body {border-top-color: #4cae4c;}
.panel-verde > .panel-heading .badge 
{
	color: #4cae4c;
	background-color: #fff;
}
.panel-verde > .panel-footer + .panel-collapse > .panel-body {border-bottom-color: #4cae4c;}
.panel-sapote {border-color: #f0ad4e;}
.panel-sapote > .panel-heading
{
	color: #fff;
	background-color: #f0ad4e;
	border-color: #f0ad4e;
}
.panel-sapote > .panel-heading + .panel-collapse > .panel-body {border-top-color: #f0ad4e;}
.panel-sapote > .panel-heading .badge
{
	color: #f0ad4e;
	background-color: #fff;
}
.panel-sapote > .panel-footer + .panel-collapse > .panel-body {border-bottom-color: #f0ad4e;}
.panel-azul {border-color: #31b0d5;}
.panel-azul > .panel-heading
{
	color: #fff;
	background-color: #31b0d5;
	border-color: #31b0d5;
}
.panel-azul > .panel-heading + .panel-collapse > .panel-body {border-top-color: #31b0d5;}
.panel-azul > .panel-heading .badge 
{
	color: #31b0d5;
	background-color: #fff;
}
.panel-azul > .panel-footer + .panel-collapse > .panel-body {border-bottom-color: #31b0d5;}

.bg-aqua {background-color: #00c0ef !important;}

.panel-body {color: #444;}

.inner {padding: 10px;}
.small-box 
{
	border-radius: 2px;
	position: relative;
	display: block;
	margin-bottom: 20px;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
}
.small-box > .inner {padding: 10px;}
.small-box > .small-box-footer 
{
	position: relative;
	text-align: center;
	padding: 3px 0;
	color: #fff;
	color: rgba(255, 255, 255, 0.8);
	display: block;
	z-index: 10;
	background: rgba(0, 0, 0, 0.1);
	text-decoration: none;
}
.small-box > .small-box-footer:hover 
{
	color: #fff;
	background: rgba(0, 0, 0, 0.15);
}
.small-box h3 
{
	font-size: 38px;
	font-weight: bold;
	margin: 0 0 10px 0;
	white-space: nowrap;
	padding: 0;
}
.small-box p {font-size: 15px;}
.small-box p > small 
{
	display: block;
	color: #f9f9f9;
	font-size: 13px;
	margin-top: 5px;
}
.small-box h3,
.small-box p {z-index: 5px;}
.small-box .icon2
{
	-webkit-transition: all 0.3s linear;
	-o-transition: all 0.3s linear;
	transition: all 0.3s linear;
	position: absolute;
	top: -10px;
	right: 10px;
	z-index: 0;
	font-size: 70px;
	color: rgba(0, 0, 0, 0.15);
}
.small-box .icon
{
	-webkit-transition: all 0.3s linear;
	-o-transition: all 0.3s linear;
	transition: all 0.3s linear;
	position: absolute;
	top: -10px;
	right: 10px;
	z-index: 0;
	font-size: 90px;
	color: rgba(0, 0, 0, 0.15);
}
.small-box:hover
{
	text-decoration: none;
	color: #f9f9f9;
	transform: scale(2,2);
	position: relative;
	z-index: 1;
}

.small-box:hover .icon {transform: rotate(720deg) scale(1,1);}
.small-box:hover .icon2 {transform: rotate(720deg) scale(1,1);}
@media (max-width: 767px) 
{
	.small-box {text-align: center;}
	.small-box .icon {display: none;}
	.small-box .icon2 {display: none;}
	.small-box p {font-size: 12px;}
}
.small-box1 {
	border-radius: 2px;
	position: relative;
	display: block;
	margin-bottom: 20px;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
}
.small-box1 > .inner {padding: 10px;}
.small-box1 > .small-box-footer
{
	position: relative;
	text-align: center;
	padding: 3px 0;
	color: #fff;
	color: rgba(255, 255, 255, 0.8);
	display: block;
	z-index: 10;
	background: rgba(0, 0, 0, 0.1);
	text-decoration: none;
}
.small-box1 > .small-box-footer:hover
{
	color: #fff;
	background: rgba(0, 0, 0, 0.15);
}
.small-box1 h3
{
	font-size: 38px;
	font-weight: bold;
	margin: 0 0 10px 0;
	white-space: nowrap;
	padding: 0;
}
.small-box1 p {font-size: 15px;}
.small-box1 p > small 
{
	display: block;
	color: #f9f9f9;
	font-size: 13px;
	margin-top: 5px;
}
.small-box1 h3,
.small-box1 p {z-index: 5px;}
.small-box1 .icon2
{
	-webkit-transition: all 0.3s linear;
	-o-transition: all 0.3s linear;
	transition: all 0.3s linear;
	position: absolute;
	top: -10px;
	right: 10px;
	z-index: 0;
	font-size: 70px;
	color: rgba(0, 0, 0, 0.15);
}
.small-box1 .icon 
{
	-webkit-transition: all 0.3s linear;
	-o-transition: all 0.3s linear;
	transition: all 0.3s linear;
	position: absolute;
	top: -10px;
	right: 10px;
	z-index: 0;
	font-size: 90px;
	color: rgba(0, 0, 0, 0.15);
}
.small-box1:hover
{
	text-decoration: none;
	color: #f9f9f9;
	transform: scale(1.1,1.1);
	position: relative;
	z-index: 1;
}
.small-box1:hover .icon {transform: rotate(720deg) scale(1,1);}
.small-box1:hover .icon2 {transform: rotate(720deg) scale(1,1);}
@media (max-width: 767px)
{
	.small-box1 {text-align: center;}
	.small-box1 .icon {display: none;}
	.small-box1 .icon2 {display: none;}
	.small-box1 p {font-size: 12px;}
}
.flecha-derecha:hover, .flecha-ariba:hover, .flecha-abajo:hover
{
	text-decoration: none;
	color: #f9f9f9;
	transform: scale(2,2);
	transform: scale(3,3);
	transform: scale(2,2);
	position: relative;
	z-index: 1;
}
/* FONT AWSOME */

@font-face
{
	font-family: 'FontAwesome';
	src: url('../fonts/fontawesome-webfont.eot?v=4.7.0');
	src: url('../fonts/fontawesome-webfont.eot?#iefix&v=4.7.0') format('embedded-opentype'), url('../fonts/fontawesome-webfont.woff2?v=4.7.0') format('woff2'), url('../fonts/fontawesome-webfont.woff?v=4.7.0') format('woff'), url('../fonts/fontawesome-webfont.ttf?v=4.7.0') format('truetype'), url('../fonts/fontawesome-webfont.svg?v=4.7.0#fontawesomeregular') format('svg');
	font-weight: normal;
	font-style: normal;
}
.fa
{
	display: inline-block;
	font: normal normal normal 14px/1 FontAwesome;
	font-size: inherit;
	text-rendering: auto;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
/* makes the font 33% larger relative to the icon container */
.fa-lg
{
	font-size: 1.33333333em;
	line-height: 0.75em;
	vertical-align: -15%;
}
.fa-2x {font-size: 2em;}
.fa-3x {font-size: 3em;}
.fa-4x {font-size: 4em;}
.fa-5x {font-size: 5em;}
.fa-fw
{
	width: 1.28571429em;
	text-align: center;
}
.fa-ul
{
	padding-left: 0;
	margin-left: 2.14285714em;
	list-style-type: none;
}
.fa-ul > li {position: relative;}
.fa-li
{
	position: absolute;
	left: -2.14285714em;
	width: 2.14285714em;
	top: 0.14285714em;
	text-align: center;
}
.fa-li.fa-lg {left: -1.85714286em;}
.fa-border
{
	padding: .2em .25em .15em;
	border: solid 0.08em #eeeeee;
	border-radius: .1em;
}
.fa-pull-left {float: left;}
.fa-pull-right {float: right;}
.fa.fa-pull-left {margin-right: .3em;}
.fa.fa-pull-right {margin-left: .3em;}
/* Deprecated as of 4.4.0 */
.pull-right {float: right;}
.pull-left {float: left;}
.fa.pull-left {margin-right: .3em;}
.fa.pull-right {margin-left: .3em;}
.fa-spin
{
	-webkit-animation: fa-spin 2s infinite linear;
	animation: fa-spin 2s infinite linear;
}
.fa-pulse
{
	-webkit-animation: fa-spin 1s infinite steps(8);
	animation: fa-spin 1s infinite steps(8);
}
@-webkit-keyframes fa-spin
{
	0%
	{
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
	}
	100%
	{
		-webkit-transform: rotate(359deg);
		transform: rotate(359deg);
	}
}
@keyframes fa-spin
{
	0%
	{
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
	}
	100%
	{
		-webkit-transform: rotate(359deg);
		transform: rotate(359deg);
	}
}
.fa-rotate-90
{
	-ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=1)";
	-webkit-transform: rotate(90deg);
	-ms-transform: rotate(90deg);
	transform: rotate(90deg);
}
.fa-rotate-180
{
	-ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=2)";
	-webkit-transform: rotate(180deg);
	-ms-transform: rotate(180deg);
	transform: rotate(180deg);
}
.fa-rotate-270
{
	-ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=3)";
	-webkit-transform: rotate(270deg);
	-ms-transform: rotate(270deg);
	transform: rotate(270deg);
}
.fa-flip-horizontal
{
	-ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=0, mirror=1)";
	-webkit-transform: scale(-1, 1);
	-ms-transform: scale(-1, 1);
	transform: scale(-1, 1);
}
.fa-flip-vertical
{
	-ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=2, mirror=1)";
	-webkit-transform: scale(1, -1);
	-ms-transform: scale(1, -1);
	transform: scale(1, -1);
}
:root .fa-rotate-90,
:root .fa-rotate-180,
:root .fa-rotate-270,
:root .fa-flip-horizontal,
:root .fa-flip-vertical {filter: none;}
.fa-stack
{
	position: relative;
	display: inline-block;
	width: 2em;
	height: 2em;
	line-height: 2em;
	vertical-align: middle;
}
.fa-stack-1x,
.fa-stack-2x
{
	position: absolute;
	left: 0;
	width: 100%;
	text-align: center;
}
.fa-stack-1x {line-height: inherit;}
.fa-stack-2x {font-size: 2em;}
.fa-inverse {color: #ffffff;}
/* Font Awesome uses the Unicode Private Use Area (PUA) to ensure screen
   readers do not read off random characters that represent icons */
.fa-glass:before {content: "\f000";}
.fa-music:before {content: "\f001";}
.fa-search:before {content: "\f002";}
.fa-envelope-o:before {content: "\f003";}
.fa-heart:before {content: "\f004";}
.fa-star:before {content: "\f005";}
.fa-star-o:before {content: "\f006";}
.fa-user:before {content: "\f007";}
.fa-film:before {content: "\f008";}
.fa-th-large:before {content: "\f009";}
.fa-th:before {content: "\f00a";}
.fa-th-list:before {content: "\f00b";}
.fa-check:before {content: "\f00c";}
.fa-remove:before,
.fa-close:before,
.fa-times:before {content: "\f00d";}
.fa-search-plus:before {content: "\f00e";}
.fa-search-minus:before {content: "\f010";}
.fa-power-off:before {content: "\f011";}
.fa-signal:before {content: "\f012";}
.fa-gear:before,
.fa-cog:before {content: "\f013";}
.fa-trash-o:before {content: "\f014";}
.fa-home:before {content: "\f015";}
.fa-file-o:before {content: "\f016";}
.fa-clock-o:before {content: "\f017";}
.fa-road:before {content: "\f018";}
.fa-download:before {content: "\f019";}
.fa-arrow-circle-o-down:before {content: "\f01a";}
.fa-arrow-circle-o-up:before {content: "\f01b";}
.fa-inbox:before {content: "\f01c";}
.fa-play-circle-o:before {content: "\f01d";}
.fa-rotate-right:before,
.fa-repeat:before {content: "\f01e";}
.fa-refresh:before {content: "\f021";}
.fa-list-alt:before {content: "\f022";}
.fa-lock:before {content: "\f023";}
.fa-flag:before {content: "\f024";}
.fa-headphones:before {content: "\f025";}
.fa-volume-off:before {content: "\f026";}
.fa-volume-down:before {content: "\f027";}
.fa-volume-up:before {content: "\f028";}
.fa-qrcode:before {content: "\f029";}
.fa-barcode:before {content: "\f02a";}
.fa-tag:before {content: "\f02b";}
.fa-tags:before {content: "\f02c";}
.fa-book:before {content: "\f02d";}
.fa-bookmark:before {content: "\f02e";}
.fa-print:before {content: "\f02f";}
.fa-camera:before {content: "\f030";}
.fa-font:before {content: "\f031";}
.fa-bold:before {content: "\f032";}
.fa-italic:before {content: "\f033";}
.fa-text-height:before {content: "\f034";}
.fa-text-width:before {content: "\f035";}
.fa-align-left:before {content: "\f036";}
.fa-align-center:before {content: "\f037";}
.fa-align-right:before {content: "\f038";}
.fa-align-justify:before {content: "\f039";}
.fa-list:before {content: "\f03a";}
.fa-dedent:before,
.fa-outdent:before {content: "\f03b";}
.fa-indent:before {content: "\f03c";}
.fa-video-camera:before {content: "\f03d";}
.fa-photo:before,
.fa-image:before,
.fa-picture-o:before {content: "\f03e";}
.fa-pencil:before {content: "\f040";}
.fa-map-marker:before {content: "\f041";}
.fa-adjust:before {content: "\f042";}
.fa-tint:before {content: "\f043";}
.fa-edit:before,
.fa-pencil-square-o:before {content: "\f044";}
.fa-share-square-o:before {content: "\f045";}
.fa-check-square-o:before {content: "\f046";}
.fa-arrows:before {content: "\f047";}
.fa-step-backward:before {content: "\f048";}
.fa-fast-backward:before {content: "\f049";}
.fa-backward:before {content: "\f04a";}
.fa-play:before {content: "\f04b";}
.fa-pause:before {content: "\f04c";}
.fa-stop:before {content: "\f04d";}
.fa-forward:before {content: "\f04e";}
.fa-fast-forward:before {content: "\f050";}
.fa-step-forward:before {content: "\f051";}
.fa-eject:before {content: "\f052";}
.fa-chevron-left:before {content: "\f053";}
.fa-chevron-right:before {content: "\f054";}
.fa-plus-circle:before {content: "\f055";}
.fa-minus-circle:before {content: "\f056";}
.fa-times-circle:before {content: "\f057";}
.fa-check-circle:before {content: "\f058";}
.fa-question-circle:before {content: "\f059";}
.fa-info-circle:before {content: "\f05a";}
.fa-crosshairs:before {content: "\f05b";}
.fa-times-circle-o:before {content: "\f05c";}
.fa-check-circle-o:before {content: "\f05d";}
.fa-ban:before {content: "\f05e";}
.fa-arrow-left:before {content: "\f060";}
.fa-arrow-right:before {content: "\f061";}
.fa-arrow-up:before {content: "\f062";}
.fa-arrow-down:before {content: "\f063";}
.fa-mail-forward:before,
.fa-share:before {content: "\f064";}
.fa-expand:before {content: "\f065";}
.fa-compress:before {content: "\f066";}
.fa-plus:before {content: "\f067";}
.fa-minus:before {content: "\f068";}
.fa-asterisk:before {content: "\f069";}
.fa-exclamation-circle:before {content: "\f06a";}
.fa-gift:before {content: "\f06b";}
.fa-leaf:before {content: "\f06c";}
.fa-fire:before {content: "\f06d";}
.fa-eye:before {content: "\f06e";}
.fa-eye-slash:before {content: "\f070";}
.fa-warning:before,
.fa-exclamation-triangle:before {content: "\f071";}
.fa-plane:before {content: "\f072";}
.fa-calendar:before {content: "\f073";}
.fa-random:before {
  content: "\f074";
}
.fa-comment:before {
  content: "\f075";
}
.fa-magnet:before {
  content: "\f076";
}
.fa-chevron-up:before {
  content: "\f077";
}
.fa-chevron-down:before {
  content: "\f078";
}
.fa-retweet:before {
  content: "\f079";
}
.fa-shopping-cart:before {
  content: "\f07a";
}
.fa-folder:before {
  content: "\f07b";
}
.fa-folder-open:before {
  content: "\f07c";
}
.fa-arrows-v:before {
  content: "\f07d";
}
.fa-arrows-h:before {
  content: "\f07e";
}
.fa-bar-chart-o:before,
.fa-bar-chart:before {
  content: "\f080";
}
.fa-twitter-square:before {
  content: "\f081";
}
.fa-facebook-square:before {
  content: "\f082";
}
.fa-camera-retro:before {
  content: "\f083";
}
.fa-key:before {
  content: "\f084";
}
.fa-gears:before,
.fa-cogs:before {
  content: "\f085";
}
.fa-comments:before {
  content: "\f086";
}
.fa-thumbs-o-up:before {
  content: "\f087";
}
.fa-thumbs-o-down:before {
  content: "\f088";
}
.fa-star-half:before {
  content: "\f089";
}
.fa-heart-o:before {
  content: "\f08a";
}
.fa-sign-out:before {
  content: "\f08b";
}
.fa-linkedin-square:before {
  content: "\f08c";
}
.fa-thumb-tack:before {
  content: "\f08d";
}
.fa-external-link:before {
  content: "\f08e";
}
.fa-sign-in:before {
  content: "\f090";
}
.fa-trophy:before {
  content: "\f091";
}
.fa-github-square:before {
  content: "\f092";
}
.fa-upload:before {
  content: "\f093";
}
.fa-lemon-o:before {
  content: "\f094";
}
.fa-phone:before {
  content: "\f095";
}
.fa-square-o:before {
  content: "\f096";
}
.fa-bookmark-o:before {
  content: "\f097";
}
.fa-phone-square:before {
  content: "\f098";
}
.fa-twitter:before {
  content: "\f099";
}
.fa-facebook-f:before,
.fa-facebook:before {
  content: "\f09a";
}
.fa-github:before {
  content: "\f09b";
}
.fa-unlock:before {
  content: "\f09c";
}
.fa-credit-card:before {
  content: "\f09d";
}
.fa-feed:before,
.fa-rss:before {
  content: "\f09e";
}
.fa-hdd-o:before {
  content: "\f0a0";
}
.fa-bullhorn:before {
  content: "\f0a1";
}
.fa-bell:before {
  content: "\f0f3";
}
.fa-certificate:before {
  content: "\f0a3";
}
.fa-hand-o-right:before {
  content: "\f0a4";
}
.fa-hand-o-left:before {
  content: "\f0a5";
}
.fa-hand-o-up:before {
  content: "\f0a6";
}
.fa-hand-o-down:before {
  content: "\f0a7";
}
.fa-arrow-circle-left:before {
  content: "\f0a8";
}
.fa-arrow-circle-right:before {
  content: "\f0a9";
}
.fa-arrow-circle-up:before {
  content: "\f0aa";
}
.fa-arrow-circle-down:before {
  content: "\f0ab";
}
.fa-globe:before {
  content: "\f0ac";
}
.fa-wrench:before {
  content: "\f0ad";
}
.fa-tasks:before {
  content: "\f0ae";
}
.fa-filter:before {
  content: "\f0b0";
}
.fa-briefcase:before {
  content: "\f0b1";
}
.fa-arrows-alt:before {
  content: "\f0b2";
}
.fa-group:before,
.fa-users:before {
  content: "\f0c0";
}
.fa-chain:before,
.fa-link:before {
  content: "\f0c1";
}
.fa-cloud:before {
  content: "\f0c2";
}
.fa-flask:before {
  content: "\f0c3";
}
.fa-cut:before,
.fa-scissors:before {
  content: "\f0c4";
}
.fa-copy:before,
.fa-files-o:before {
  content: "\f0c5";
}
.fa-paperclip:before {
  content: "\f0c6";
}
.fa-save:before,
.fa-floppy-o:before {
  content: "\f0c7";
}
.fa-square:before {
  content: "\f0c8";
}
.fa-navicon:before,
.fa-reorder:before,
.fa-bars:before {
  content: "\f0c9";
}
.fa-list-ul:before {
  content: "\f0ca";
}
.fa-list-ol:before {
  content: "\f0cb";
}
.fa-strikethrough:before {
  content: "\f0cc";
}
.fa-underline:before {
  content: "\f0cd";
}
.fa-table:before {
  content: "\f0ce";
}
.fa-magic:before {
  content: "\f0d0";
}
.fa-truck:before {
  content: "\f0d1";
}
.fa-pinterest:before {
  content: "\f0d2";
}
.fa-pinterest-square:before {
  content: "\f0d3";
}
.fa-google-plus-square:before {
  content: "\f0d4";
}
.fa-google-plus:before {
  content: "\f0d5";
}
.fa-money:before {
  content: "\f0d6";
}
.fa-caret-down:before {
  content: "\f0d7";
}
.fa-caret-up:before {
  content: "\f0d8";
}
.fa-caret-left:before {
  content: "\f0d9";
}
.fa-caret-right:before {
  content: "\f0da";
}
.fa-columns:before {
  content: "\f0db";
}
.fa-unsorted:before,
.fa-sort:before {
  content: "\f0dc";
}
.fa-sort-down:before,
.fa-sort-desc:before {
  content: "\f0dd";
}
.fa-sort-up:before,
.fa-sort-asc:before {
  content: "\f0de";
}
.fa-envelope:before {
  content: "\f0e0";
}
.fa-linkedin:before {
  content: "\f0e1";
}
.fa-rotate-left:before,
.fa-undo:before {
  content: "\f0e2";
}
.fa-legal:before,
.fa-gavel:before {
  content: "\f0e3";
}
.fa-dashboard:before,
.fa-tachometer:before {
  content: "\f0e4";
}
.fa-comment-o:before {
  content: "\f0e5";
}
.fa-comments-o:before {
  content: "\f0e6";
}
.fa-flash:before,
.fa-bolt:before {
  content: "\f0e7";
}
.fa-sitemap:before {
  content: "\f0e8";
}
.fa-umbrella:before {
  content: "\f0e9";
}
.fa-paste:before,
.fa-clipboard:before {
  content: "\f0ea";
}
.fa-lightbulb-o:before {
  content: "\f0eb";
}
.fa-exchange:before {
  content: "\f0ec";
}
.fa-cloud-download:before {
  content: "\f0ed";
}
.fa-cloud-upload:before {
  content: "\f0ee";
}
.fa-user-md:before {
  content: "\f0f0";
}
.fa-stethoscope:before {
  content: "\f0f1";
}
.fa-suitcase:before {
  content: "\f0f2";
}
.fa-bell-o:before {
  content: "\f0a2";
}
.fa-coffee:before {
  content: "\f0f4";
}
.fa-cutlery:before {
  content: "\f0f5";
}
.fa-file-text-o:before {
  content: "\f0f6";
}
.fa-building-o:before {
  content: "\f0f7";
}
.fa-hospital-o:before {
  content: "\f0f8";
}
.fa-ambulance:before {
  content: "\f0f9";
}
.fa-medkit:before {
  content: "\f0fa";
}
.fa-fighter-jet:before {
  content: "\f0fb";
}
.fa-beer:before {
  content: "\f0fc";
}
.fa-h-square:before {
  content: "\f0fd";
}
.fa-plus-square:before {
  content: "\f0fe";
}
.fa-angle-double-left:before {
  content: "\f100";
}
.fa-angle-double-right:before {
  content: "\f101";
}
.fa-angle-double-up:before {
  content: "\f102";
}
.fa-angle-double-down:before {
  content: "\f103";
}
.fa-angle-left:before {
  content: "\f104";
}
.fa-angle-right:before {
  content: "\f105";
}
.fa-angle-up:before {
  content: "\f106";
}
.fa-angle-down:before {
  content: "\f107";
}
.fa-desktop:before {
  content: "\f108";
}
.fa-laptop:before {
  content: "\f109";
}
.fa-tablet:before {
  content: "\f10a";
}
.fa-mobile-phone:before,
.fa-mobile:before {
  content: "\f10b";
}
.fa-circle-o:before {
  content: "\f10c";
}
.fa-quote-left:before {
  content: "\f10d";
}
.fa-quote-right:before {
  content: "\f10e";
}
.fa-spinner:before {
  content: "\f110";
}
.fa-circle:before {
  content: "\f111";
}
.fa-mail-reply:before,
.fa-reply:before {
  content: "\f112";
}
.fa-github-alt:before {
  content: "\f113";
}
.fa-folder-o:before {
  content: "\f114";
}
.fa-folder-open-o:before {
  content: "\f115";
}
.fa-smile-o:before {
  content: "\f118";
}
.fa-frown-o:before {
  content: "\f119";
}
.fa-meh-o:before {
  content: "\f11a";
}
.fa-gamepad:before {
  content: "\f11b";
}
.fa-keyboard-o:before {
  content: "\f11c";
}
.fa-flag-o:before {
  content: "\f11d";
}
.fa-flag-checkered:before {
  content: "\f11e";
}
.fa-terminal:before {
  content: "\f120";
}
.fa-code:before {
  content: "\f121";
}
.fa-mail-reply-all:before,
.fa-reply-all:before {
  content: "\f122";
}
.fa-star-half-empty:before,
.fa-star-half-full:before,
.fa-star-half-o:before {
  content: "\f123";
}
.fa-location-arrow:before {
  content: "\f124";
}
.fa-crop:before {
  content: "\f125";
}
.fa-code-fork:before {
  content: "\f126";
}
.fa-unlink:before,
.fa-chain-broken:before {
  content: "\f127";
}
.fa-question:before {
  content: "\f128";
}
.fa-info:before {
  content: "\f129";
}
.fa-exclamation:before {
  content: "\f12a";
}
.fa-superscript:before {
  content: "\f12b";
}
.fa-subscript:before {
  content: "\f12c";
}
.fa-eraser:before {
  content: "\f12d";
}
.fa-puzzle-piece:before {
  content: "\f12e";
}
.fa-microphone:before {
  content: "\f130";
}
.fa-microphone-slash:before {
  content: "\f131";
}
.fa-shield:before {
  content: "\f132";
}
.fa-calendar-o:before {
  content: "\f133";
}
.fa-fire-extinguisher:before {
  content: "\f134";
}
.fa-rocket:before {
  content: "\f135";
}
.fa-maxcdn:before {
  content: "\f136";
}
.fa-chevron-circle-left:before {
  content: "\f137";
}
.fa-chevron-circle-right:before {
  content: "\f138";
}
.fa-chevron-circle-up:before {
  content: "\f139";
}
.fa-chevron-circle-down:before {
  content: "\f13a";
}
.fa-html5:before {
  content: "\f13b";
}
.fa-css3:before {
  content: "\f13c";
}
.fa-anchor:before {
  content: "\f13d";
}
.fa-unlock-alt:before {
  content: "\f13e";
}
.fa-bullseye:before {
  content: "\f140";
}
.fa-ellipsis-h:before {
  content: "\f141";
}
.fa-ellipsis-v:before {
  content: "\f142";
}
.fa-rss-square:before {
  content: "\f143";
}
.fa-play-circle:before {
  content: "\f144";
}
.fa-ticket:before {
  content: "\f145";
}
.fa-minus-square:before {
  content: "\f146";
}
.fa-minus-square-o:before {
  content: "\f147";
}
.fa-level-up:before {
  content: "\f148";
}
.fa-level-down:before {
  content: "\f149";
}
.fa-check-square:before {
  content: "\f14a";
}
.fa-pencil-square:before {
  content: "\f14b";
}
.fa-external-link-square:before {
  content: "\f14c";
}
.fa-share-square:before {
  content: "\f14d";
}
.fa-compass:before {
  content: "\f14e";
}
.fa-toggle-down:before,
.fa-caret-square-o-down:before {
  content: "\f150";
}
.fa-toggle-up:before,
.fa-caret-square-o-up:before {
  content: "\f151";
}
.fa-toggle-right:before,
.fa-caret-square-o-right:before {
  content: "\f152";
}
.fa-euro:before,
.fa-eur:before {
  content: "\f153";
}
.fa-gbp:before {
  content: "\f154";
}
.fa-dollar:before,
.fa-usd:before {
  content: "\f155";
}
.fa-rupee:before,
.fa-inr:before {
  content: "\f156";
}
.fa-cny:before,
.fa-rmb:before,
.fa-yen:before,
.fa-jpy:before {
  content: "\f157";
}
.fa-ruble:before,
.fa-rouble:before,
.fa-rub:before {
  content: "\f158";
}
.fa-won:before,
.fa-krw:before {
  content: "\f159";
}
.fa-bitcoin:before,
.fa-btc:before {
  content: "\f15a";
}
.fa-file:before {
  content: "\f15b";
}
.fa-file-text:before {
  content: "\f15c";
}
.fa-sort-alpha-asc:before {
  content: "\f15d";
}
.fa-sort-alpha-desc:before {
  content: "\f15e";
}
.fa-sort-amount-asc:before {
  content: "\f160";
}
.fa-sort-amount-desc:before {
  content: "\f161";
}
.fa-sort-numeric-asc:before {
  content: "\f162";
}
.fa-sort-numeric-desc:before {
  content: "\f163";
}
.fa-thumbs-up:before {
  content: "\f164";
}
.fa-thumbs-down:before {
  content: "\f165";
}
.fa-youtube-square:before {
  content: "\f166";
}
.fa-youtube:before {
  content: "\f167";
}
.fa-xing:before {
  content: "\f168";
}
.fa-xing-square:before {
  content: "\f169";
}
.fa-youtube-play:before {
  content: "\f16a";
}
.fa-dropbox:before {
  content: "\f16b";
}
.fa-stack-overflow:before {
  content: "\f16c";
}
.fa-instagram:before {
  content: "\f16d";
}
.fa-flickr:before {
  content: "\f16e";
}
.fa-adn:before {
  content: "\f170";
}
.fa-bitbucket:before {
  content: "\f171";
}
.fa-bitbucket-square:before {
  content: "\f172";
}
.fa-tumblr:before {
  content: "\f173";
}
.fa-tumblr-square:before {
  content: "\f174";
}
.fa-long-arrow-down:before {
  content: "\f175";
}
.fa-long-arrow-up:before {
  content: "\f176";
}
.fa-long-arrow-left:before {
  content: "\f177";
}
.fa-long-arrow-right:before {
  content: "\f178";
}
.fa-apple:before {
  content: "\f179";
}
.fa-windows:before {
  content: "\f17a";
}
.fa-android:before {
  content: "\f17b";
}
.fa-linux:before {
  content: "\f17c";
}
.fa-dribbble:before {
  content: "\f17d";
}
.fa-skype:before {
  content: "\f17e";
}
.fa-foursquare:before {
  content: "\f180";
}
.fa-trello:before {
  content: "\f181";
}
.fa-female:before {
  content: "\f182";
}
.fa-male:before {
  content: "\f183";
}
.fa-gittip:before,
.fa-gratipay:before {
  content: "\f184";
}
.fa-sun-o:before {
  content: "\f185";
}
.fa-moon-o:before {
  content: "\f186";
}
.fa-archive:before {
  content: "\f187";
}
.fa-bug:before {
  content: "\f188";
}
.fa-vk:before {
  content: "\f189";
}
.fa-weibo:before {
  content: "\f18a";
}
.fa-renren:before {
  content: "\f18b";
}
.fa-pagelines:before {
  content: "\f18c";
}
.fa-stack-exchange:before {
  content: "\f18d";
}
.fa-arrow-circle-o-right:before {
  content: "\f18e";
}
.fa-arrow-circle-o-left:before {
  content: "\f190";
}
.fa-toggle-left:before,
.fa-caret-square-o-left:before {
  content: "\f191";
}
.fa-dot-circle-o:before {
  content: "\f192";
}
.fa-wheelchair:before {
  content: "\f193";
}
.fa-vimeo-square:before {
  content: "\f194";
}
.fa-turkish-lira:before,
.fa-try:before {
  content: "\f195";
}
.fa-plus-square-o:before {
  content: "\f196";
}
.fa-space-shuttle:before {
  content: "\f197";
}
.fa-slack:before {
  content: "\f198";
}
.fa-envelope-square:before {
  content: "\f199";
}
.fa-wordpress:before {
  content: "\f19a";
}
.fa-openid:before {
  content: "\f19b";
}
.fa-institution:before,
.fa-bank:before,
.fa-university:before {
  content: "\f19c";
}
.fa-mortar-board:before,
.fa-graduation-cap:before {
  content: "\f19d";
}
.fa-yahoo:before {
  content: "\f19e";
}
.fa-google:before {
  content: "\f1a0";
}
.fa-reddit:before {
  content: "\f1a1";
}
.fa-reddit-square:before {
  content: "\f1a2";
}
.fa-stumbleupon-circle:before {
  content: "\f1a3";
}
.fa-stumbleupon:before {
  content: "\f1a4";
}
.fa-delicious:before {
  content: "\f1a5";
}
.fa-digg:before {
  content: "\f1a6";
}
.fa-pied-piper-pp:before {
  content: "\f1a7";
}
.fa-pied-piper-alt:before {
  content: "\f1a8";
}
.fa-drupal:before {
  content: "\f1a9";
}
.fa-joomla:before {
  content: "\f1aa";
}
.fa-language:before {
  content: "\f1ab";
}
.fa-fax:before {
  content: "\f1ac";
}
.fa-building:before {
  content: "\f1ad";
}
.fa-child:before {
  content: "\f1ae";
}
.fa-paw:before {
  content: "\f1b0";
}
.fa-spoon:before {
  content: "\f1b1";
}
.fa-cube:before {
  content: "\f1b2";
}
.fa-cubes:before {
  content: "\f1b3";
}
.fa-behance:before {
  content: "\f1b4";
}
.fa-behance-square:before {
  content: "\f1b5";
}
.fa-steam:before {
  content: "\f1b6";
}
.fa-steam-square:before {
  content: "\f1b7";
}
.fa-recycle:before {
  content: "\f1b8";
}
.fa-automobile:before,
.fa-car:before {
  content: "\f1b9";
}
.fa-cab:before,
.fa-taxi:before {
  content: "\f1ba";
}
.fa-tree:before {
  content: "\f1bb";
}
.fa-spotify:before {
  content: "\f1bc";
}
.fa-deviantart:before {
  content: "\f1bd";
}
.fa-soundcloud:before {
  content: "\f1be";
}
.fa-database:before {
  content: "\f1c0";
}
.fa-file-pdf-o:before {
  content: "\f1c1";
}
.fa-file-word-o:before {
  content: "\f1c2";
}
.fa-file-excel-o:before {
  content: "\f1c3";
}
.fa-file-powerpoint-o:before {
  content: "\f1c4";
}
.fa-file-photo-o:before,
.fa-file-picture-o:before,
.fa-file-image-o:before {
  content: "\f1c5";
}
.fa-file-zip-o:before,
.fa-file-archive-o:before {
  content: "\f1c6";
}
.fa-file-sound-o:before,
.fa-file-audio-o:before {
  content: "\f1c7";
}
.fa-file-movie-o:before,
.fa-file-video-o:before {
  content: "\f1c8";
}
.fa-file-code-o:before {
  content: "\f1c9";
}
.fa-vine:before {
  content: "\f1ca";
}
.fa-codepen:before {
  content: "\f1cb";
}
.fa-jsfiddle:before {
  content: "\f1cc";
}
.fa-life-bouy:before,
.fa-life-buoy:before,
.fa-life-saver:before,
.fa-support:before,
.fa-life-ring:before {
  content: "\f1cd";
}
.fa-circle-o-notch:before {
  content: "\f1ce";
}
.fa-ra:before,
.fa-resistance:before,
.fa-rebel:before {
  content: "\f1d0";
}
.fa-ge:before,
.fa-empire:before {
  content: "\f1d1";
}
.fa-git-square:before {
  content: "\f1d2";
}
.fa-git:before {
  content: "\f1d3";
}
.fa-y-combinator-square:before,
.fa-yc-square:before,
.fa-hacker-news:before {
  content: "\f1d4";
}
.fa-tencent-weibo:before {
  content: "\f1d5";
}
.fa-qq:before {
  content: "\f1d6";
}
.fa-wechat:before,
.fa-weixin:before {
  content: "\f1d7";
}
.fa-send:before,
.fa-paper-plane:before {
  content: "\f1d8";
}
.fa-send-o:before,
.fa-paper-plane-o:before {
  content: "\f1d9";
}
.fa-history:before {
  content: "\f1da";
}
.fa-circle-thin:before {
  content: "\f1db";
}
.fa-header:before {
  content: "\f1dc";
}
.fa-paragraph:before {
  content: "\f1dd";
}
.fa-sliders:before {
  content: "\f1de";
}
.fa-share-alt:before {
  content: "\f1e0";
}
.fa-share-alt-square:before {
  content: "\f1e1";
}
.fa-bomb:before {
  content: "\f1e2";
}
.fa-soccer-ball-o:before,
.fa-futbol-o:before {
  content: "\f1e3";
}
.fa-tty:before {
  content: "\f1e4";
}
.fa-binoculars:before {
  content: "\f1e5";
}
.fa-plug:before {
  content: "\f1e6";
}
.fa-slideshare:before {
  content: "\f1e7";
}
.fa-twitch:before {
  content: "\f1e8";
}
.fa-yelp:before {
  content: "\f1e9";
}
.fa-newspaper-o:before {
  content: "\f1ea";
}
.fa-wifi:before {
  content: "\f1eb";
}
.fa-calculator:before {
  content: "\f1ec";
}
.fa-paypal:before {
  content: "\f1ed";
}
.fa-google-wallet:before {
  content: "\f1ee";
}
.fa-cc-visa:before {
  content: "\f1f0";
}
.fa-cc-mastercard:before {
  content: "\f1f1";
}
.fa-cc-discover:before {
  content: "\f1f2";
}
.fa-cc-amex:before {
  content: "\f1f3";
}
.fa-cc-paypal:before {
  content: "\f1f4";
}
.fa-cc-stripe:before {
  content: "\f1f5";
}
.fa-bell-slash:before {
  content: "\f1f6";
}
.fa-bell-slash-o:before {
  content: "\f1f7";
}
.fa-trash:before {
  content: "\f1f8";
}
.fa-copyright:before {
  content: "\f1f9";
}
.fa-at:before {
  content: "\f1fa";
}
.fa-eyedropper:before {
  content: "\f1fb";
}
.fa-paint-brush:before {
  content: "\f1fc";
}
.fa-birthday-cake:before {
  content: "\f1fd";
}
.fa-area-chart:before {
  content: "\f1fe";
}
.fa-pie-chart:before {
  content: "\f200";
}
.fa-line-chart:before {
  content: "\f201";
}
.fa-lastfm:before {
  content: "\f202";
}
.fa-lastfm-square:before {
  content: "\f203";
}
.fa-toggle-off:before {
  content: "\f204";
}
.fa-toggle-on:before {
  content: "\f205";
}
.fa-bicycle:before {
  content: "\f206";
}
.fa-bus:before {
  content: "\f207";
}
.fa-ioxhost:before {
  content: "\f208";
}
.fa-angellist:before {
  content: "\f209";
}
.fa-cc:before {
  content: "\f20a";
}
.fa-shekel:before,
.fa-sheqel:before,
.fa-ils:before {
  content: "\f20b";
}
.fa-meanpath:before {
  content: "\f20c";
}
.fa-buysellads:before {
  content: "\f20d";
}
.fa-connectdevelop:before {
  content: "\f20e";
}
.fa-dashcube:before {
  content: "\f210";
}
.fa-forumbee:before {
  content: "\f211";
}
.fa-leanpub:before {
  content: "\f212";
}
.fa-sellsy:before {
  content: "\f213";
}
.fa-shirtsinbulk:before {
  content: "\f214";
}
.fa-simplybuilt:before {
  content: "\f215";
}
.fa-skyatlas:before {
  content: "\f216";
}
.fa-cart-plus:before {
  content: "\f217";
}
.fa-cart-arrow-down:before {
  content: "\f218";
}
.fa-diamond:before {
  content: "\f219";
}
.fa-ship:before {
  content: "\f21a";
}
.fa-user-secret:before {
  content: "\f21b";
}
.fa-motorcycle:before {
  content: "\f21c";
}
.fa-street-view:before {
  content: "\f21d";
}
.fa-heartbeat:before {
  content: "\f21e";
}
.fa-venus:before {
  content: "\f221";
}
.fa-mars:before {
  content: "\f222";
}
.fa-mercury:before {
  content: "\f223";
}
.fa-intersex:before,
.fa-transgender:before {
  content: "\f224";
}
.fa-transgender-alt:before {
  content: "\f225";
}
.fa-venus-double:before {
  content: "\f226";
}
.fa-mars-double:before {
  content: "\f227";
}
.fa-venus-mars:before {
  content: "\f228";
}
.fa-mars-stroke:before {
  content: "\f229";
}
.fa-mars-stroke-v:before {
  content: "\f22a";
}
.fa-mars-stroke-h:before {
  content: "\f22b";
}
.fa-neuter:before {
  content: "\f22c";
}
.fa-genderless:before {
  content: "\f22d";
}
.fa-facebook-official:before {
  content: "\f230";
}
.fa-pinterest-p:before {
  content: "\f231";
}
.fa-whatsapp:before {
  content: "\f232";
}
.fa-server:before {
  content: "\f233";
}
.fa-user-plus:before {
  content: "\f234";
}
.fa-user-times:before {
  content: "\f235";
}
.fa-hotel:before,
.fa-bed:before {
  content: "\f236";
}
.fa-viacoin:before {
  content: "\f237";
}
.fa-train:before {
  content: "\f238";
}
.fa-subway:before {
  content: "\f239";
}
.fa-medium:before {
  content: "\f23a";
}
.fa-yc:before,
.fa-y-combinator:before {
  content: "\f23b";
}
.fa-optin-monster:before {
  content: "\f23c";
}
.fa-opencart:before {
  content: "\f23d";
}
.fa-expeditedssl:before {
  content: "\f23e";
}
.fa-battery-4:before,
.fa-battery:before,
.fa-battery-full:before {
  content: "\f240";
}
.fa-battery-3:before,
.fa-battery-three-quarters:before {
  content: "\f241";
}
.fa-battery-2:before,
.fa-battery-half:before {
  content: "\f242";
}
.fa-battery-1:before,
.fa-battery-quarter:before {
  content: "\f243";
}
.fa-battery-0:before,
.fa-battery-empty:before {
  content: "\f244";
}
.fa-mouse-pointer:before {
  content: "\f245";
}
.fa-i-cursor:before {
  content: "\f246";
}
.fa-object-group:before {
  content: "\f247";
}
.fa-object-ungroup:before {
  content: "\f248";
}
.fa-sticky-note:before {
  content: "\f249";
}
.fa-sticky-note-o:before {
  content: "\f24a";
}
.fa-cc-jcb:before {
  content: "\f24b";
}
.fa-cc-diners-club:before {
  content: "\f24c";
}
.fa-clone:before {
  content: "\f24d";
}
.fa-balance-scale:before {
  content: "\f24e";
}
.fa-hourglass-o:before {
  content: "\f250";
}
.fa-hourglass-1:before,
.fa-hourglass-start:before {
  content: "\f251";
}
.fa-hourglass-2:before,
.fa-hourglass-half:before {
  content: "\f252";
}
.fa-hourglass-3:before,
.fa-hourglass-end:before {
  content: "\f253";
}
.fa-hourglass:before {
  content: "\f254";
}
.fa-hand-grab-o:before,
.fa-hand-rock-o:before {
  content: "\f255";
}
.fa-hand-stop-o:before,
.fa-hand-paper-o:before {
  content: "\f256";
}
.fa-hand-scissors-o:before {
  content: "\f257";
}
.fa-hand-lizard-o:before {
  content: "\f258";
}
.fa-hand-spock-o:before {
  content: "\f259";
}
.fa-hand-pointer-o:before {
  content: "\f25a";
}
.fa-hand-peace-o:before {
  content: "\f25b";
}
.fa-trademark:before {
  content: "\f25c";
}
.fa-registered:before {
  content: "\f25d";
}
.fa-creative-commons:before {
  content: "\f25e";
}
.fa-gg:before {
  content: "\f260";
}
.fa-gg-circle:before {
  content: "\f261";
}
.fa-tripadvisor:before {
  content: "\f262";
}
.fa-odnoklassniki:before {
  content: "\f263";
}
.fa-odnoklassniki-square:before {
  content: "\f264";
}
.fa-get-pocket:before {
  content: "\f265";
}
.fa-wikipedia-w:before {
  content: "\f266";
}
.fa-safari:before {
  content: "\f267";
}
.fa-chrome:before {
  content: "\f268";
}
.fa-firefox:before {
  content: "\f269";
}
.fa-opera:before {
  content: "\f26a";
}
.fa-internet-explorer:before {
  content: "\f26b";
}
.fa-tv:before,
.fa-television:before {
  content: "\f26c";
}
.fa-contao:before {
  content: "\f26d";
}
.fa-500px:before {
  content: "\f26e";
}
.fa-amazon:before {
  content: "\f270";
}
.fa-calendar-plus-o:before {
  content: "\f271";
}
.fa-calendar-minus-o:before {
  content: "\f272";
}
.fa-calendar-times-o:before {
  content: "\f273";
}
.fa-calendar-check-o:before {
  content: "\f274";
}
.fa-industry:before {
  content: "\f275";
}
.fa-map-pin:before {
  content: "\f276";
}
.fa-map-signs:before {
  content: "\f277";
}
.fa-map-o:before {
  content: "\f278";
}
.fa-map:before {
  content: "\f279";
}
.fa-commenting:before {
  content: "\f27a";
}
.fa-commenting-o:before {
  content: "\f27b";
}
.fa-houzz:before {
  content: "\f27c";
}
.fa-vimeo:before {
  content: "\f27d";
}
.fa-black-tie:before {
  content: "\f27e";
}
.fa-fonticons:before {
  content: "\f280";
}
.fa-reddit-alien:before {
  content: "\f281";
}
.fa-edge:before {
  content: "\f282";
}
.fa-credit-card-alt:before {
  content: "\f283";
}
.fa-codiepie:before {
  content: "\f284";
}
.fa-modx:before {
  content: "\f285";
}
.fa-fort-awesome:before {
  content: "\f286";
}
.fa-usb:before {
  content: "\f287";
}
.fa-product-hunt:before {
  content: "\f288";
}
.fa-mixcloud:before {
  content: "\f289";
}
.fa-scribd:before {
  content: "\f28a";
}
.fa-pause-circle:before {
  content: "\f28b";
}
.fa-pause-circle-o:before {
  content: "\f28c";
}
.fa-stop-circle:before {
  content: "\f28d";
}
.fa-stop-circle-o:before {
  content: "\f28e";
}
.fa-shopping-bag:before {
  content: "\f290";
}
.fa-shopping-basket:before {
  content: "\f291";
}
.fa-hashtag:before {
  content: "\f292";
}
.fa-bluetooth:before {
  content: "\f293";
}
.fa-bluetooth-b:before {
  content: "\f294";
}
.fa-percent:before {
  content: "\f295";
}
.fa-gitlab:before {
  content: "\f296";
}
.fa-wpbeginner:before {
  content: "\f297";
}
.fa-wpforms:before {
  content: "\f298";
}
.fa-envira:before {
  content: "\f299";
}
.fa-universal-access:before {
  content: "\f29a";
}
.fa-wheelchair-alt:before {
  content: "\f29b";
}
.fa-question-circle-o:before {
  content: "\f29c";
}
.fa-blind:before {
  content: "\f29d";
}
.fa-audio-description:before {
  content: "\f29e";
}
.fa-volume-control-phone:before {
  content: "\f2a0";
}
.fa-braille:before {
  content: "\f2a1";
}
.fa-assistive-listening-systems:before {
  content: "\f2a2";
}
.fa-asl-interpreting:before,
.fa-american-sign-language-interpreting:before {
  content: "\f2a3";
}
.fa-deafness:before,
.fa-hard-of-hearing:before,
.fa-deaf:before {
  content: "\f2a4";
}
.fa-glide:before {
  content: "\f2a5";
}
.fa-glide-g:before {
  content: "\f2a6";
}
.fa-signing:before,
.fa-sign-language:before {
  content: "\f2a7";
}
.fa-low-vision:before {
  content: "\f2a8";
}
.fa-viadeo:before {
  content: "\f2a9";
}
.fa-viadeo-square:before {
  content: "\f2aa";
}
.fa-snapchat:before {
  content: "\f2ab";
}
.fa-snapchat-ghost:before {
  content: "\f2ac";
}
.fa-snapchat-square:before {
  content: "\f2ad";
}
.fa-pied-piper:before {
  content: "\f2ae";
}
.fa-first-order:before {
  content: "\f2b0";
}
.fa-yoast:before {
  content: "\f2b1";
}
.fa-themeisle:before {
  content: "\f2b2";
}
.fa-google-plus-circle:before,
.fa-google-plus-official:before {
  content: "\f2b3";
}
.fa-fa:before,
.fa-font-awesome:before {
  content: "\f2b4";
}
.fa-handshake-o:before {
  content: "\f2b5";
}
.fa-envelope-open:before {
  content: "\f2b6";
}
.fa-envelope-open-o:before {
  content: "\f2b7";
}
.fa-linode:before {
  content: "\f2b8";
}
.fa-address-book:before {
  content: "\f2b9";
}
.fa-address-book-o:before {
  content: "\f2ba";
}
.fa-vcard:before,
.fa-address-card:before {
  content: "\f2bb";
}
.fa-vcard-o:before,
.fa-address-card-o:before {
  content: "\f2bc";
}
.fa-user-circle:before {
  content: "\f2bd";
}
.fa-user-circle-o:before {
  content: "\f2be";
}
.fa-user-o:before {
  content: "\f2c0";
}
.fa-id-badge:before {
  content: "\f2c1";
}
.fa-drivers-license:before,
.fa-id-card:before {
  content: "\f2c2";
}
.fa-drivers-license-o:before,
.fa-id-card-o:before {
  content: "\f2c3";
}
.fa-quora:before {
  content: "\f2c4";
}
.fa-free-code-camp:before {
  content: "\f2c5";
}
.fa-telegram:before {
  content: "\f2c6";
}
.fa-thermometer-4:before,
.fa-thermometer:before,
.fa-thermometer-full:before {
  content: "\f2c7";
}
.fa-thermometer-3:before,
.fa-thermometer-three-quarters:before {
  content: "\f2c8";
}
.fa-thermometer-2:before,
.fa-thermometer-half:before {
  content: "\f2c9";
}
.fa-thermometer-1:before,
.fa-thermometer-quarter:before {
  content: "\f2ca";
}
.fa-thermometer-0:before,
.fa-thermometer-empty:before {
  content: "\f2cb";
}
.fa-shower:before {
  content: "\f2cc";
}
.fa-bathtub:before,
.fa-s15:before,
.fa-bath:before {
  content: "\f2cd";
}
.fa-podcast:before {
  content: "\f2ce";
}
.fa-window-maximize:before {
  content: "\f2d0";
}
.fa-window-minimize:before {
  content: "\f2d1";
}
.fa-window-restore:before {
  content: "\f2d2";
}
.fa-times-rectangle:before,
.fa-window-close:before {
  content: "\f2d3";
}
.fa-times-rectangle-o:before,
.fa-window-close-o:before {
  content: "\f2d4";
}
.fa-bandcamp:before {
  content: "\f2d5";
}
.fa-grav:before {
  content: "\f2d6";
}
.fa-etsy:before {
  content: "\f2d7";
}
.fa-imdb:before {
  content: "\f2d8";
}
.fa-ravelry:before {
  content: "\f2d9";
}
.fa-eercast:before {
  content: "\f2da";
}
.fa-microchip:before {
  content: "\f2db";
}
.fa-snowflake-o:before {
  content: "\f2dc";
}
.fa-superpowers:before {
  content: "\f2dd";
}
.fa-wpexplorer:before {
  content: "\f2de";
}
.fa-meetup:before {
  content: "\f2e0";
}
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}
.sr-only-focusable:active,
.sr-only-focusable:focus {
  position: static;
  width: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  clip: auto;
}

/*BOTONES PRINCIPAL*/
#tabla_botones
{
	margin: 0 auto;
	/*background: rgba(255,255,255,0.3);*/
	padding: 0px 0px 10px;
	padding-left:10px;
	padding-right:0px;
	/*border-radius: 5px;
	box-shadow: 1px 1px 1px rgba(0,0,0,0.09) inset;*/
}
#tabla_botones p
{
	height:40%;
	display:flex;
	padding-bottom:1px;
}
.boton_principal
{
	width:60% !important;
	height:41px !important;
	cursor:pointer ;
	background-color:#3bb3e0 ;
	font-family: fuentebot01 ;
	font-size:20px ;
	font-weight:normal !important;
	text-decoration:none;
	color:#FFFFFF;
	position:relative ;
	padding:5px 20px;
	border-left:solid 1px #2ab7ec ;
	margin-left:35px ;
	background-image: linear-gradient(bottom, rgb(44,160,202) 0%, rgb(62,184,229) 100%);
	background-image: -o-linear-gradient(bottom, rgb(44,160,202) 0%, rgb(62,184,229) 100%);
	background-image: -moz-linear-gradient(bottom, rgb(44,160,202) 0%, rgb(62,184,229) 100%);
	background-image: -webkit-linear-gradient(bottom, rgb(44,160,202) 0%, rgb(62,184,229) 100%);
	background-image: -ms-linear-gradient(bottom, rgb(44,160,202) 0%, rgb(62,184,229) 100%);
	background-image: -webkit-gradient(
	linear,
	left bottom,
	left top,
	color-stop(0, rgb(44,160,202)),
	color-stop(1, rgb(62,184,229))
	);
	-webkit-border-top-right-radius: 5px ;
	-webkit-border-bottom-right-radius: 5px;
	-moz-border-radius-topright: 5px ;
	-moz-border-radius-bottomright: 5px ;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
	-webkit-box-shadow: inset 0px 1px 0px #2ab7ec, 0px 5px 0px 0px #156785, 0px 10px 5px #999;
	-moz-box-shadow: inset 0px 1px 0px #2ab7ec, 0px 5px 0px 0px #156785, 0px 10px 5px #999;
	-o-box-shadow: inset 0px 1px 0px #2ab7ec, 0px 5px 0px 0px #156785, 0px 10px 5px #999;
	box-shadow: inset 0px 1px 0px #2ab7ec, 0px 5px 0px 0px #156785, 0px 10px 5px #999;
}
.boton_principal:active 
{
	top:3px ;
	color:#BEFF69 ;
	background-image: -moz-linear-gradient(bottom, rgb(220,184,229) 0%, rgb(44,160,202) 100%);
	background-image: -webkit-linear-gradient(bottom, rgb(220,184,229) 0%, rgb(44,160,202) 100%);
	background-image: -webkit-gradient(linear, 0 100%, 0 0, from(rgb(220,184,229)), to(rgb(44,160,202)));
	background-image: -o-linear-gradient(bottom, rgb(220,184,229) 0%, rgb(44,160,202) 100%);
	background-image: linear-gradient(bottom, rgb(220,184,229) 0%, rgb(44,160,202) 100%);
	-webkit-box-shadow: inset 0px 1px 0px #2ab7ec, 0px 2px 0px 0px #156785, 0px 5px 3px #999;
	-moz-box-shadow: inset 0px 1px 0px #2ab7ec, 0px 2px 0px 0px #156785, 0px 5px 3px #999;
	-o-box-shadow: inset 0px 1px 0px #2ab7ec, 0px 2px 0px 0px #156785, 0px 5px 3px #999;
	box-shadow: inset 0px 1px 0px #2ab7ec, 0px 2px 0px 0px #156785, 0px 5px 3px #999;
}
.boton_principal::before 
{
	background-color:#2561b4 ;
	content:"1" ;
	width:35px ;
	height:42px;
	text-align:center;
	position:absolute ;
	display:block;
	padding-top:8px ;
	top:0px ;
	left:-36px ;
	font-size:16px ;
	font-weight:bold;
	color:#8fd1ea ;
	text-shadow:1px 1px 0px #07526e ;
	border-right:solid 1px #07526e ;
	background-image: linear-gradient(bottom, rgb(10,94,125) 0%, rgb(14,139,184) 100%);
	background-image: -o-linear-gradient(bottom, rgb(10,94,125) 0%, rgb(14,139,184) 100%);
	background-image: -moz-linear-gradient(bottom, rgb(10,94,125) 0%, rgb(14,139,184) 100%);
	background-image: -webkit-linear-gradient(bottom, rgb(10,94,125) 0%, rgb(14,139,184) 100%);
	background-image: -ms-linear-gradient(bottom, rgb(10,94,125) 0%, rgb(14,139,184) 100%);
	background-image: -webkit-gradient(
	linear,
	left bottom,
	left top,
	color-stop(0, rgb(10,94,125)),
	color-stop(1, rgb(14,139,184))
	);
	-webkit-border-top-left-radius: 5px;
	-webkit-border-bottom-left-radius: 5px;
	-moz-border-radius-topleft: 5px;
	-moz-border-radius-bottomleft: 5px;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px ;
	-webkit-box-shadow:inset 0px 1px 0px #2ab7ec, 0px 5px 0px 0px #032b3a, 0px 10px 5px #999;
	-moz-box-shadow:inset 0px 1px 0px #2ab7ec, 0px 5px 0px 0px #032b3a, 0px 10px 5px #999;
	-o-box-shadow:inset 0px 1px 0px #2ab7ec, 0px 5px 0px 0px #032b3a, 0px 10px 5px #999;
	box-shadow:inset 0px 1px 0px #2ab7ec, 0px 5px 0px 0px #032b3a, 0px 10px 5px #999;
}
.boton_principal:active::before 
{
	top:-3px;
	-webkit-box-shadow:inset 0px 1px 0px #2ab7ec, 0px 5px 0px 0px #032b3a, 1px 1px 0px 0px #044a64, 2px 2px 0px 0px #044a64, 2px 5px 0px 0px #044a64, 6px 4px 2px #0b698b, 0px 10px 5px #999;
	-moz-box-shadow:inset 0px 1px 0px #2ab7ec, 0px 5px 0px 0px #032b3a, 1px 1px 0px 0px #044a64, 2px 2px 0px 0px #044a64, 2px 5px 0px 0px #044a64, 6px 4px 2px #0b698b, 0px 10px 5px #999;
	-o-box-shadow:inset 0px 1px 0px #2ab7ec, 0px 5px 0px 0px #032b3a, 1px 1px 0px 0px #044a64, 2px 2px 0px 0px #044a64, 2px 5px 0px 0px #044a64, 6px 4px 2px #0b698b, 0px 10px 5px #999;
	box-shadow:inset 0px 1px 0px #2ab7ec, 0px 5px 0px 0px #032b3a, 1px 1px 0px 0px #044a64, 2px 2px 0px 0px #044a64, 2px 5px 0px 0px #044a64, 6px 4px 2px #0b698b, 0px 10px 5px #999;
}
.boton_principalm
{
	width:60% !important;
	height:30px !important;
	cursor:pointer ;
	background-color:#3bb3e0 ;
	font-family: fuentebot01 ;
	font-size:20px ;
	font-weight:normal !important;
	text-decoration:none;
	color:#FFFFFF;
	position:relative ;
	padding:5px 20px;
	padding-top:16px;
	border-left:solid 1px #2ab7ec ;
	margin-left:35px ;
	background-image: linear-gradient(bottom, rgb(44,160,202) 0%, rgb(62,184,229) 100%);
	background-image: -o-linear-gradient(bottom, rgb(44,160,202) 0%, rgb(62,184,229) 100%);
	background-image: -moz-linear-gradient(bottom, rgb(44,160,202) 0%, rgb(62,184,229) 100%);
	background-image: -webkit-linear-gradient(bottom, rgb(44,160,202) 0%, rgb(62,184,229) 100%);
	background-image: -ms-linear-gradient(bottom, rgb(44,160,202) 0%, rgb(62,184,229) 100%);
	background-image: -webkit-gradient(
	linear,
	left bottom,
	left top,
	color-stop(0, rgb(44,160,202)),
	color-stop(1, rgb(62,184,229))
	);
	-webkit-border-top-right-radius: 5px ;
	-webkit-border-bottom-right-radius: 5px;
	-moz-border-radius-topright: 5px ;
	-moz-border-radius-bottomright: 5px ;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
	-webkit-box-shadow: inset 0px 1px 0px #2ab7ec, 0px 5px 0px 0px #156785, 0px 10px 5px #999;
	-moz-box-shadow: inset 0px 1px 0px #2ab7ec, 0px 5px 0px 0px #156785, 0px 10px 5px #999;
	-o-box-shadow: inset 0px 1px 0px #2ab7ec, 0px 5px 0px 0px #156785, 0px 10px 5px #999;
	box-shadow: inset 0px 1px 0px #2ab7ec, 0px 5px 0px 0px #156785, 0px 10px 5px #999;
}
.boton_principalm:active 
{
	top:3px ;
	color:#BEFF69 ;
	background-image: -moz-linear-gradient(bottom, rgb(220,184,229) 0%, rgb(44,160,202) 100%);
	background-image: -webkit-linear-gradient(bottom, rgb(220,184,229) 0%, rgb(44,160,202) 100%);
	background-image: -webkit-gradient(linear, 0 100%, 0 0, from(rgb(220,184,229)), to(rgb(44,160,202)));
	background-image: -o-linear-gradient(bottom, rgb(220,184,229) 0%, rgb(44,160,202) 100%);
	background-image: linear-gradient(bottom, rgb(220,184,229) 0%, rgb(44,160,202) 100%);
	-webkit-box-shadow: inset 0px 1px 0px #2ab7ec, 0px 2px 0px 0px #156785, 0px 5px 3px #999;
	-moz-box-shadow: inset 0px 1px 0px #2ab7ec, 0px 2px 0px 0px #156785, 0px 5px 3px #999;
	-o-box-shadow: inset 0px 1px 0px #2ab7ec, 0px 2px 0px 0px #156785, 0px 5px 3px #999;
	box-shadow: inset 0px 1px 0px #2ab7ec, 0px 2px 0px 0px #156785, 0px 5px 3px #999;
}
.boton_principalm::before 
{
	background-color:#2561b4 ;
	content:"1" ;
	width:35px ;
	height:42px;
	text-align:center;
	position:absolute ;
	display:block;
	padding-top:8px ;
	top:0px ;
	left:-36px ;
	font-size:16px ;
	font-weight:bold;
	color:#8fd1ea ;
	text-shadow:1px 1px 0px #07526e ;
	border-right:solid 1px #07526e ;
	background-image: linear-gradient(bottom, rgb(10,94,125) 0%, rgb(14,139,184) 100%);
	background-image: -o-linear-gradient(bottom, rgb(10,94,125) 0%, rgb(14,139,184) 100%);
	background-image: -moz-linear-gradient(bottom, rgb(10,94,125) 0%, rgb(14,139,184) 100%);
	background-image: -webkit-linear-gradient(bottom, rgb(10,94,125) 0%, rgb(14,139,184) 100%);
	background-image: -ms-linear-gradient(bottom, rgb(10,94,125) 0%, rgb(14,139,184) 100%);
	background-image: -webkit-gradient(
	linear,
	left bottom,
	left top,
	color-stop(0, rgb(10,94,125)),
	color-stop(1, rgb(14,139,184))
	);
	-webkit-border-top-left-radius: 5px;
	-webkit-border-bottom-left-radius: 5px;
	-moz-border-radius-topleft: 5px;
	-moz-border-radius-bottomleft: 5px;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px ;
	-webkit-box-shadow:inset 0px 1px 0px #2ab7ec, 0px 5px 0px 0px #032b3a, 0px 10px 5px #999 ;
	-moz-box-shadow:inset 0px 1px 0px #2ab7ec, 0px 5px 0px 0px #032b3a, 0px 10px 5px #999 ;
	-o-box-shadow:inset 0px 1px 0px #2ab7ec, 0px 5px 0px 0px #032b3a, 0px 10px 5px #999 ;
	box-shadow:inset 0px 1px 0px #2ab7ec, 0px 5px 0px 0px #032b3a, 0px 10px 5px #999 ;
}
.boton_principalm:active::before 
{
	top:-3px;
	-webkit-box-shadow:inset 0px 1px 0px #2ab7ec, 0px 5px 0px 0px #032b3a, 1px 1px 0px 0px #044a64, 2px 2px 0px 0px #044a64, 2px 5px 0px 0px #044a64, 6px 4px 2px #0b698b, 0px 10px 5px #999 ;
	-moz-box-shadow:inset 0px 1px 0px #2ab7ec, 0px 5px 0px 0px #032b3a, 1px 1px 0px 0px #044a64, 2px 2px 0px 0px #044a64, 2px 5px 0px 0px #044a64, 6px 4px 2px #0b698b, 0px 10px 5px #999 ;
	-o-box-shadow:inset 0px 1px 0px #2ab7ec, 0px 5px 0px 0px #032b3a, 1px 1px 0px 0px #044a64, 2px 2px 0px 0px #044a64, 2px 5px 0px 0px #044a64, 6px 4px 2px #0b698b, 0px 10px 5px #999 ;
	box-shadow:inset 0px 1px 0px #2ab7ec, 0px 5px 0px 0px #032b3a, 1px 1px 0px 0px #044a64, 2px 2px 0px 0px #044a64, 2px 5px 0px 0px #044a64, 6px 4px 2px #0b698b, 0px 10px 5px #999 ;
}
.boton_2::before {content:"2";}
.boton_3::before {content:"3";}
.boton_4::before {content:"4";}
.boton_5::before {content:"5";}
.boton_6::before {content:"6";}
.boton_7::before {content:"7";}
.boton_8::before {content:"8";}
.boton_9::before {content:"9";}
.boton_10::before {content:"10";}
.boton_11::before {content:"11";}
.boton_12::before {content:"12";}

.boton01 
{
	border: none;
 	background: #3a7999;
	color: #f2f2f2;
	padding: 5px;
	font-size: 14px;
	position: relative;
	box-sizing: border-box;
	display: block;
 	border-radius: 8px;
  	box-shadow: 0px 6px 0px rgba(50,50,100,1), 0px 7px 25px rgba(0,0,0,.7);
   	margin: 10px auto;
	width: 110px;
	text-align: center;
	transition: all 500ms ease;
}
.boton01:hover 
{
	border: none;
	cursor:pointer;
 	background: rgba(210,210,250,1);
 	color: #3a7999;
    box-shadow: 0px 6px 0px rgba(50,50,100,1), 0px 7px 25px rgba(0,0,0,.7);
}
.boton01:active 
{
    border: none;
    box-shadow: 0px 2px 0px rgba(50,50,100,1), 0px 2px 6px rgba(0,0,0,.9);
    position: relative;
    top: 6px;
}
.boton02 
{
	border: none;
	background: #3a7999;
	color: #f2f2f2;
	padding: 2px;
	font-size: 12px;
	position: relative;
	box-sizing: border-box;
	display: block;
	border-radius: 5px;
	box-shadow: 0px 6px 0px rgba(50,50,100,1), 0px 7px 25px rgba(0,0,0,.7);
	width: 90px;
	text-align: center;
	transition: all 500ms ease;
}
.boton02:hover 
{
	border: none;
	cursor:pointer;
	background: rgba(73,174,232,1);
	color: #000000;
	box-shadow: 0px 6px 0px rgba(50,50,100,1), 0px 7px 25px rgba(0,0,0,.7);
}
.boton02:active 
{
	border: none;
	box-shadow: 0px 2px 0px rgba(50,50,100,1), 0px 2px 6px rgba(0,0,0,.9);
	position: relative;
	top: 5px;
}
/* CENTRAR TEXTO */
.centrartext {
	text-align:center !important;
}

.botonflecha {
	top: -3px;
	background-color:#3bb3e0;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
	font-size:12px;
	text-decoration:none;
	color:#fff;
	position:relative;
	padding:6px 15px;
	padding-right:50px;
	background-image: linear-gradient(bottom, rgb(44,160,202) 0%, rgb(62,184,229) 100%);
	background-image: -o-linear-gradient(bottom, rgb(44,160,202) 0%, rgb(62,184,229) 100%);
	background-image: -moz-linear-gradient(bottom, rgb(44,160,202) 0%, rgb(62,184,229) 100%);
	background-image: -webkit-linear-gradient(bottom, rgb(44,160,202) 0%, rgb(62,184,229) 100%);
	background-image: -ms-linear-gradient(bottom, rgb(44,160,202) 0%, rgb(62,184,229) 100%);
	background-image: -webkit-gradient(
	linear,
	left bottom,
	left top,
	color-stop(0, rgb(44,160,202)),
	color-stop(1, rgb(62,184,229))
	);
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-o-border-radius: 5px;
	border-radius: 5px;
	-webkit-box-shadow: inset 0px 1px 0px #2ab7ec, 0px 5px 0px 0px #156785, 0px 10px 5px #999;
	-moz-box-shadow: inset 0px 1px 0px #2ab7ec, 0px 5px 0px 0px #156785, 0px 10px 5px #999;
	-o-box-shadow: inset 0px 1px 0px #2ab7ec, 0px 5px 0px 0px #156785, 0px 10px 5px #999;
	box-shadow: inset 0px 1px 0px #2ab7ec, 0px 5px 0px 0px #156785, 0px 10px 5px #999;
}
.botonflecha:active {
	top:1px;
	background-image: linear-gradient(bottom, rgb(62,184,229) 0%, rgb(44,160,202) 100%);
	background-image: -o-linear-gradient(bottom, rgb(62,184,229) 0%, rgb(44,160,202) 100%);
	background-image: -moz-linear-gradient(bottom, rgb(62,184,229) 0%, rgb(44,160,202) 100%);
	background-image: -webkit-linear-gradient(bottom, rgb(62,184,229) 0%, rgb(44,160,202) 100%);
	background-image: -ms-linear-gradient(bottom, rgb(62,184,229) 0%, rgb(44,160,202) 100%);
	background-image: -webkit-gradient(
	linear,
	left bottom,
	left top,
	color-stop(0, rgb(62,184,229)),
	color-stop(1, rgb(44,160,202))
	);
	-webkit-box-shadow: inset 0px 1px 0px #2ab7ec, 0px 2px 0px 0px #156785, 0px 5px 3px #999;
	-moz-box-shadow: inset 0px 1px 0px #2ab7ec, 0px 2px 0px 0px #156785, 0px 5px 3px #999;
	-o-box-shadow: inset 0px 1px 0px #2ab7ec, 0px 2px 0px 0px #156785, 0px 5px 3px #999;
	box-shadow: inset 0px 1px 0px #2ab7ec, 0px 2px 0px 0px #156785, 0px 5px 3px #999;
}
.botonflecha::before {
	background-color:#2591b4;
	background-image:url(../imagenes/right_arrow.png);
	background-repeat:no-repeat;
	background-position:center center;
	content:"";
	width:20px;
	height:20px;
	position:absolute;
	right:15px;
	top:50%;
	margin-top:-9px;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-o-border-radius: 50%;
	border-radius: 50%;
	-webkit-box-shadow: inset 0px 1px 0px #052756, 0px 1px 0px #60c9f0;
	-moz-box-shadow: inset 0px 1px 0px #052756, 0px 1px 0px #60c9f0;
	-o-box-shadow: inset 0px 1px 0px #052756, 0px 1px 0px #60c9f0;
	box-shadow: inset 0px 1px 0px #052756, 0px 1px 0px #60c9f0;
}
.botonflecha:active::before {
	top:50%;
	margin-top:-12px;
	-webkit-box-shadow: inset 0px 1px 0px #60c9f0, 0px 3px 0px #0e3871, 0px 6px 3px #1a80a6;
	-moz-box-shadow: inset 0px 1px 0px #60c9f0, 0px 3px 0px #0e3871, 0px 6px 3px #1a80a6;
	-o-box-shadow: inset 0px 1px 0px #60c9f0, 0px 3px 0px #0e3871, 0px 6px 3px #1a80a6;
	box-shadow: inset 0px 1px 0px #60c9f0, 0px 3px 0px #0e3871, 0px 6px 3px #1a80a6;
}
.botonflecharoja {
	top: -3px;
	background-color:#FF121A;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
	font-size:12px;
	text-decoration:none;
	color:#fff;
	position:relative;
	padding:6px 15px;
	padding-right:50px;
	background-image: linear-gradient(bottom, rgb(255,50,50) 0%, rgb(255,18,26) 100%);
	background-image: -o-linear-gradient(bottom, rgb(255,50,50) 0%, rgb(255,18,26) 100%);
	background-image: -moz-linear-gradient(bottom, rgb(255,50,50) 0%, rgb(255,18,26) 100%);
	background-image: -webkit-linear-gradient(bottom, rgb(255,50,50) 0%, rgb(255,18,26) 100%);
	background-image: -ms-linear-gradient(bottom, rgb(255,50,50) 0%, rgb(255,18,26) 100%);
	background-image: -webkit-gradient(
	linear,
	left bottom,
	left top,
	color-stop(0, rgb(255,50,50)),
	color-stop(1, rgb(255,18,26))
	);
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-o-border-radius: 5px;
	border-radius: 5px;
	-webkit-box-shadow: inset 0px 1px 0px #FF4E45, 0px 5px 0px 0px #7F121A, 0px 10px 5px #999;
	-moz-box-shadow: inset 0px 1px 0px #FF4E45, 0px 5px 0px 0px #7F121A, 0px 10px 5px #999;
	-o-box-shadow: inset 0px 1px 0px #FF4E45, 0px 5px 0px 0px #7F121A, 0px 10px 5px #999;
	box-shadow: inset 0px 1px 0px #FF4E45, 0px 5px 0px 0px #7F121A, 0px 10px 5px #999;
}
.botonflecharoja:active {
	top:1px;
	background-image: linear-gradient(bottom, rgb(255,50,50) 0%, rgb(255,18,26) 100%);
	background-image: -o-linear-gradient(bottom, rgb(255,50,50) 0%, rgb(255,18,26) 100%);
	background-image: -moz-linear-gradient(bottom, rgb(255,50,50) 0%, rgb(255,18,26) 100%);
	background-image: -webkit-linear-gradient(bottom, rgb(255,50,50) 0%, rgb(255,18,26) 100%);
	background-image: -ms-linear-gradient(bottom, rgb(255,50,50) 0%, rgb(255,18,26) 100%);
	background-image: -webkit-gradient(
	linear,
	left bottom,
	left top,
	color-stop(0, rgb(255,50,50)),
	color-stop(1, rgb(255,18,26))
	);
	-webkit-box-shadow: inset 0px 1px 0px #FF4E45, 0px 2px 0px 0px #7F121A, 0px 5px 3px #999;
	-moz-box-shadow: inset 0px 1px 0px #FF4E45, 0px 2px 0px 0px #7F121A, 0px 5px 3px #999;
	-o-box-shadow: inset 0px 1px 0px #FF4E45, 0px 2px 0px 0px #7F121A, 0px 5px 3px #999;
	box-shadow: inset 0px 1px 0px #FF4E45, 0px 2px 0px 0px #7F121A, 0px 5px 3px #999;
}
.botonflecharoja::before {
	background-color:#FF0F0D;
	background-image:url(../imagenes/right_arrow.png);
	background-repeat:no-repeat;
	background-position:center center;
	content:"";
	width:20px;
	height:20px;
	position:absolute;
	right:15px;
	top:50%;
	margin-top:-9px;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-o-border-radius: 50%;
	border-radius: 50%;
	-webkit-box-shadow: inset 0px 1px 0px #7F121A, 0px 1px 0px #FF4E45;
	-moz-box-shadow: inset 0px 1px 0px #7F121A, 0px 1px 0px #FF4E45;
	-o-box-shadow: inset 0px 1px 0px #7F121A, 0px 1px 0px #FF4E45;
	box-shadow: inset 0px 1px 0px #7F121A, 0px 1px 0px #FF4E45;
}
.botonflecharoja:active::before {
	top:50%;
	margin-top:-12px;
	-webkit-box-shadow: inset 0px 1px 0px #FF4E45, 0px 3px 0px #650F0D, 0px 6px 3px #C90120;
	-moz-box-shadow: inset 0px 1px 0px #FF4E45, 0px 3px 0px #650F0D, 0px 6px 3px #C90120;
	-o-box-shadow: inset 0px 1px 0px #FF4E45, 0px 3px 0px #650F0D, 0px 6px 3px #C90120;
	box-shadow: inset 0px 1px 0px #FF4E45, 0px 3px 0px #650F0D, 0px 6px 3px #C90120;
}
.botonflechaverde {
	top: -3px;
	background-color:#01CC42;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
	font-size:12px;
	text-decoration:none;
	color:#fff;
	position:relative;
	padding:6px 15px;
	padding-right:50px;
	background-image: linear-gradient(bottom, rgb(1,204,66) 0%, rgb(20,204,48) 80%);
	background-image: -o-linear-gradient(bottom, rgb(1,204,66) 0%, rgb(20,204,48) 80%);
	background-image: -moz-linear-gradient(bottom, rgb(1,204,66) 0%, rgb(20,204,48) 80%);
	background-image: -webkit-linear-gradient(bottom, rgb(1,204,66) 0%, rgb(20,204,48) 80%);
	background-image: -ms-linear-gradient(bottom, rgb(1,204,66) 0%, rgb(20,204,48) 80%);
	background-image: -webkit-gradient(
	linear,
	left bottom,
	left top,
	color-stop(0, rgb(1,204,66)),
	color-stop(1, rgb(20,204,48))
	);
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-o-border-radius: 5px;
	border-radius: 5px;
	-webkit-box-shadow: inset 0px 1px 0px #01CC42, 0px 5px 0px 0px #0B6118, 0px 10px 5px #999;
	-moz-box-shadow: inset 0px 1px 0px #01CC42, 0px 5px 0px 0px #0B6118, 0px 10px 5px #999;
	-o-box-shadow: inset 0px 1px 0px #01CC42, 0px 5px 0px 0px #0B6118, 0px 10px 5px #999;
	box-shadow: inset 0px 1px 0px#01CC42, 0px 5px 0px 0px #0B6118, 0px 10px 5px #999;
}
.botonflechaverde:active {
	top:1px;
	background-image: linear-gradient(bottom, rgb(1,204,66) 0%, rgb(20,204,48) 80%);
	background-image: -o-linear-gradient(bottom, rgb(1,204,66) 0%, rgb(20,204,48) 80%);
	background-image: -moz-linear-gradient(bottom, rgb(1,204,66) 0%, rgb(20,204,48) 80%);
	background-image: -webkit-linear-gradient(bottom, rgb(1,204,66) 0%, rgb(20,204,48) 80%);
	background-image: -ms-linear-gradient(bottom, rgb(1,204,66) 0%, rgb(20,204,48) 80%);
	background-image: -webkit-gradient(
	linear,
	left bottom,
	left top,
	color-stop(0, rgb(1,204,66)),
	color-stop(1, rgb(20,204,48))
	);
	-webkit-box-shadow: inset 0px 1px 0px #01CC42, 0px 2px 0px 0px #0B6118, 0px 5px 3px #999;
	-moz-box-shadow: inset 0px 1px 0px #01CC42, 0px 2px 0px 0px #0B6118, 0px 5px 3px #999;
	-o-box-shadow: inset 0px 1px 0px #01CC42, 0px 2px 0px 0px #0B6118, 0px 5px 3px #999;
	box-shadow: inset 0px 1px 0px #01CC42, 0px 2px 0px 0px #0B6118, 0px 5px 3px #999;
}
.botonflechaverde::before {
	background-color:#00A334;
	background-image:url(../imagenes/right_arrow.png);
	background-repeat:no-repeat;
	background-position:center center;
	content:"";
	width:20px;
	height:20px;
	position:absolute;
	right:15px;
	top:50%;
	margin-top:-9px;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-o-border-radius: 50%;
	border-radius: 50%;
	-webkit-box-shadow: inset 0px 1px 0px #0B6118, 0px 1px 0px #01CC42;
	-moz-box-shadow: inset 0px 1px 0px #0B6118, 0px 1px 0px #01CC42;
	-o-box-shadow: inset 0px 1px 0px #0B6118, 0px 1px 0px #01CC42;
	box-shadow: inset 0px 1px 0px #0B6118, 0px 1px 0px #01CC42;
}
.botonflechaverde:active::before {
	top:50%;
	margin-top:-12px;
	-webkit-box-shadow: inset 0px 1px 0px #01CC42, 0px 3px 0px #0B6118, 0px 6px 3px #1a80a6;
	-moz-box-shadow: inset 0px 1px 0px #01CC42, 0px 3px 0px #0B6118, 0px 6px 3px #1a80a6;
	-o-box-shadow: inset 0px 1px 0px #01CC42, 0px 3px 0px #0B6118, 0px 6px 3px #1a80a6;
	box-shadow: inset 0px 1px 0px #01CC42, 0px 3px 0px #0B6118, 0px 6px 3px #1a80a6;
}
.icoom
{
	cursor:pointer;
	opacity: 0.9;
	transition: all 0.5s ease;
	box-reflect: below 0px -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(.7, transparent), to(rgba(0,0,0,0.1)));
}
.icoom:hover
{
	cursor:pointer;
	border: 1px solid #40b3ff;
	opacity: 1;
	box-reflect: below 0px -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(.7, transparent), to(rgba(0,0,0,0.4)));
	box-shadow: 0px 0px 20px rgba(200,0,200,0.8);
}

.sombra01
{
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
	font-size:12px;
	background-color:#8A8A8A;
	background: linear-gradient(#8A8A8A ,#A6A6A6 70%, #8A8A8A );
	font-weight:normal;
	border:#eeeeee 1px solid;
	padding-left:3px;
	padding-right:3px;
	margin-bottom:1px;
	margin-top:1px;
	height:23.5px;
	border-radius: 1px;
}
.sombra01:hover{background: linear-gradient(#8A8A8A , #40b3ff 70%, #8A8A8A );}
.colordobleclik
{
	cursor:pointer;
	background-color:hsla(43,100%,65%,1.00)!important;
	opacity: 0.9;
	transition: all 0.5s ease;
	box-reflect: below 0px -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(.7, transparent), to(rgba(0,0,0,0.1)));
}
.colordobleclik:hover
{
	cursor:pointer;
	border: 1px solid #40b3ff;
	opacity: 1;
	box-reflect: below 0px -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(.7, transparent), to(rgba(0,0,0,0.4)));
	box-shadow: 0px 0px 20px rgba(200,0,200,0.8);
}
.parpadea
{
	animation-name: parpadeo;
	animation-duration: 1s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
	-webkit-animation-name:parpadeo;
	-webkit-animation-duration: 1s;
	-webkit-animation-timing-function: linear;
	-webkit-animation-iteration-count: infinite;
}
@-moz-keyframes parpadeo
{
	0% { opacity: 1.0; }
	50% { opacity: 0.0; }
	100% { opacity: 1.0; }
}
@-webkit-keyframes parpadeo
{
	0% { opacity: 1.0; }
	50% { opacity: 0.0; }
	100% { opacity: 1.0; }
}

@keyframes parpadeo
{
	0% { opacity: 1.0; }
	50% { opacity: 0.0; }
	100% { opacity: 1.0; }
}