.loading {
	width: 200px;
	height: 200px;
	box-sizing: border-box;
	border-radius: 50%;
	border-top: 10px solid #e74c3c;
	position:fixed;
	animation: a1 2s linear infinite;
	z-index: 100;
	top:30%;
	left:45%;
}
.loading::before,.loading::after {
	content: '';
	width: 200px;
	height: 200px;
	position: fixed;
	left: 0;
	top: -10px;
	box-sizing: border-box;
	border-radius: 50%;
	z-index: 100;
}
.loading::before {
	border-top: 10px solid #e67e22;
	transform: rotate(120deg);
}
.loading::after {
	border-top: 10px solid #3498db;
	transform: rotate(240deg);
}
.loading span {
	position: fixed;
	width: 200px;
	height: 200px;
	color: hsla(0,0%,0%,1.00);
	text-align: center;
	line-height: 200px;
	animation: a2 2s linear infinite;
}
/* Tbody ancho de input tipo text */
.ancho td > [type=text], .ancho td > select, .ancho td > [type=password], .ancho td > input[readonly], .ancho td > [type=date], .ancho td > [type=time], .ancho td > [type=file], .ancho td > [type=search], .ancho td > [type=number], .ancho th > [type=text], .ancho th > select, .ancho th > [type=password], .ancho th > input[readonly], .ancho th > [type=date], .ancho th > [type=time], .ancho th > [type=file], .ancho th > [type=search], .ancho th > [type=number] {
	height: 30px !important;
	padding: 5px;
}search
/* TOOLTIP PARA BOTONES*/
.tooltip {
	position: relative;
	display: inline-block;
}
.tooltip .tiptext {
	visibility: hidden;
	width: 120px;
	background-color: black;
	color: #fff;
	text-align: center;
	border-radius: 3px;
	padding: 6px 0;
	position: absolute;
	z-index: 1;
	box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
	font-weight: bold;
}
.tooltip .tiptext::after {
	content: "";
	position: absolute;
	border-width: 5px;
	border-style: solid;
}
.tooltip:hover .tiptext {
	visibility: visible;
	z-index: 999 !important;
}
/* TOOLTIP PARA BOTONES ARRIBA*/
.tooltip.top .tiptext {
	margin-left: -60px;
	bottom: 150%;
	left: 50%;
}
.tooltip.top .tiptext::after {
	margin-left: -5px;
	top: 100%;
	left: 50%;
	border-color: #2E2E2E transparent transparent transparent;
}
/* TOOLTIP PARA BOTONES ABAJO*/
.tooltip.bottom .tiptext {
	margin-left: -60px;
	top: 150%;
	left: 50%;
}
.tooltip.bottom .tiptext::after {
	margin-left: -5px;
	bottom: 100%;
	left: 50%;
	border-color: transparent transparent #2E2E2E transparent;
}
/* TOOLTIP PARA BOTONES IZQUIERDA*/
.tooltip.left .tiptext {
	top: -5px;
	right: 110%;
}
.tooltip.left .tiptext::after {
	margin-top: -5px;
	top: 50%;
	left: 100%;
	border-color: transparent transparent transparent #2E2E2E;
}
/* TOOLTIP PARA BOTONES DERECHA*/
.tooltip.right .tiptext {
	top: -5px;
	left: 110%;
}
.tooltip.right .tiptext::after {
	margin-top: -5px;
	top: 50%;
	right: 100%;
	border-color: transparent #2E2E2E transparent transparent;
}
@keyframes a1 {
	to{ transform: rotate(360deg); }
}
@keyframes a2 {
	to{ transform: rotate(-360deg);}
}
.filas01 {
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
	font-size:16px;
	background-color: #efF;
	font-weight:normal;
	border:#eeeeee 1px solid;
	padding-left:3px;
	padding-right:3px;
	margin-bottom:1px;
	margin-top:1px;
	height:23.5px;
	border-radius: 1px;
}
.filas01:hover {
	background: linear-gradient(#40f3ff, #40b3ff 70%, #40f3ff);
}
.filas02 {
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
	font-size:16px;
	background-color:#eee;
	font-weight:normal;
	border:#CCCCCC 1px solid;
	padding-left:3px;
	padding-right:3px;
	margin-bottom:1px;
	margin-top:1px;
	height:23.5px;
	border-radius: 2px;
}
.filas02:hover {
	background: linear-gradient(#40f3ff, #40b3ff 70%, #40f3ff);
}
.ventanasino {
	visibility:hidden;
	background: rgba(33, 41, 52, .85);
	left: 0;
	bottom: 0;
	right: 0;
	top: 0;
	display: flex;
	position: fixed;
	z-index: 999;
}
.ventanasino .content {
		background:linear-gradient(#99bbcc, #B6CEDA);
		border-radius:16px;
		box-shadow: 0 1px 3px rgba(33, 41, 52, .75);
		box-sizing: content-box;
		display: flex;
		flex-direction: column;
		margin: auto;
		max-width: 150px;
		min-width: 320px !important;
		overflow: hidden;
		position: relative;
		width: 100%;
		padding: 2rem;
		font-size: 1.3rem;
}
.marcodiv01 {
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
	font-size:16px;
	background-color:rgba(220,233,86,1.00);
	margin-bottom: 7px;
	text-align:center;
}
.input01 {
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
	font-size:16px;
}
.input02 {
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
	font-size:16px;
}
/*nuevo check*/
.rcheck input[type="checkbox"] + label:before {
	text-align:center;
	background-color: #fff;
	border-radius: 0px 0px 0 0;
	content: "";
	width: 26px;
	height: 26px;
	float: left;
	margin: 0.5em 0.5em 0 0;
	border: 1px groove #000;
	background: rgba(210,210,210,1.00);
}
.rcheck input[type="checkbox"]:checked + label:before {
	border-radius: 0px 0px 0 0;
	background-color: #fff;
	border-color: #0fbf12;
}
.rcheck input[type="checkbox"]:checked + label:after {
	border-radius: 0px 0px 0 0;
	background-color: #fff;
	content: "";
	width: 12px;
	height: 6px;
	border: 4px solid #0fbf12;
	float: left;
	margin-left: -2.1em;
	border-right: 0;
	border-top: 0;
	margin-top: 1em;
	transform: rotate(-55deg);
}
.rcheck input[type="checkbox"] {
	display: none;
}
.rcheck input[type="checkbox"] + label {
	border-radius: 0px 0px 0 0;
	background-color:rgba(255,255,255,0.00);
	font-weight: bold;
	line-height: 3em;
	color: #ccc;
}
.rcheck input[type="checkbox"]:checked + label {
	color: #0fbf12;
}
/*nuevo check*/
.rcheck2 input[type="checkbox"] + label:before {
	text-align:center;
	background-color: #fff;
	border-radius: 0px 0px 0 0;
	content: "";
	width: 18px;
	height: 18px;
	float: left;
	margin: 0.5em 0.5em 0 0;
	border: 1px groove #000;
	background: rgba(210,210,210,1.00);
}
.rcheck2 input[type="checkbox"]:checked + label:before {
	border-radius: 0px 0px 0 0;
	background-color: #fff;
	border-color: #0fbf12;
}
.rcheck2 input[type="checkbox"]:checked + label:after {
	border-radius: 0px 0px 0 0;
	background-color: #fff;
	content: "";
	width: 11px;
	height: 5px;
	border: 4px solid #0fbf12;
	float: left;
	margin-left: -1.9em;
	border-right: 0;
	border-top: 0;
	margin-top: 0.93em;
	transform: rotate(-55deg);
}
.rcheck2 input[type="checkbox"] {
	display: none;
}
.rcheck2 input[type="checkbox"] + label {
	border-radius: 0px 0px 0 0;
	background-color:rgba(255,255,255,0.00);
	font-weight: bold;
	line-height: 3em;
	color: #ccc;
}
.rcheck2 input[type="checkbox"]:checked + label {
	color: #0fbf12;
}
/* si o no */
.swsino {
	position: relative;
	width: 71px;
	user-select:none;
	-webkit-user-select:none;
	-moz-user-select:none;
	-ms-user-select: none;
}
.swsino-checkbox {
	display: none;
}
.swsino-label {
	display: block;
	overflow: hidden;
	cursor: pointer;
	border: 2px solid #DDE6E2;
	border-radius: 20px;
}
.swsino-inner {
	display: block;
	width: 200%;
	margin-left: -100%;
	transition: margin 0.3s ease-in 0s;
}
.swsino-inner:before, .swsino-inner:after {
	display: block;
	float: left;
	width: 50%;
	height: 23px;
	padding: 0;
	line-height: 23px;
	font-size: 14px;
	color: white;
	font-family: Trebuchet, Arial, sans-serif;
	font-weight: bold;
	box-sizing: border-box;
}
.swsino-inner:before {
	content: "SI";
	padding-left: 10px;
	background-color:rgba(76,225,53,1.00);
	color: #FFFFFF;
}
.swsino-inner:after {
	content: "NO";
	padding-right: 10px;
	background-color:rgba(237,0,3,1.00);
	color: #FFFFFF;
	text-align: right;
}
.swsino-switch {
	display: block;
	width: 17px;
	margin: 3px;
	background: #FFFFFF;
	position: absolute;
	top: 0;
	bottom: 0;
	right: 44px;
	border: 2px solid #DDE6E2;
	border-radius: 20px;
	transition: all 0.3s ease-in 0s;
}
.swsino-checkbox:checked + .swsino-label .swsino-inner {margin-left: 0;}
.swsino-checkbox:checked + .swsino-label .swsino-switch {right: 0px;}
.borde_neon1{
	font-size: 1.1em;
	background-color: #ddd;
	border: 3px solid #9fc;
	border-radius: 5px;
	padding: 8px;
	width: 400px;
	box-shadow: 0 0 20px #4f9;
}
.neon_titulos{
	color: #ffd;
	text-shadow: 0 0 10px #fff;
}
.ProgressBar2{
	width: 16em;
	border: 1px solid black;
	background: #eef;
	height: 1.25em;
	display: block;
}
.ProgressBarText2{
	position: absolute;
	font-size: 1em;
	width: 16em;
	text-align: center;
	font-weight: normal;
}
.ProgressBarFill2{
	height: 100%;
	background:rgba(89,255,118,1.00);
	display: block;
	overflow: visible;
}
/*Encabezados fijos tablas buscar*/
.tablamv{
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
	font-size:12px;
	background-color:#fff;
	font-weight:bold;
	color:#222;
	border: #FFFFFF 1px solid;
	margin-right:1px;
	margin-bottom:1px;
	margin-top:1px;
	padding-right:1px;
	border-radius: 2px;
	box-shadow: 0 1px 2px #222;
	-webkit-box-shadow: 0 0 5px #222;
	-moz-box-shadow: 0 1px 2px #222;
	width:99.8%;
}
.tablamv table, .tablamv td {
	border-collapse: collapse;
}
.tablamv thead {
	display: table;
	width: calc(100%);
}
.tablamv tbody {
	display: block;
	max-height: 56vh;
	overflow-y: scroll;
}
.tablamv th {
	height: 30px;
	word-break: break-all;
}
.tablamv td {
	padding: 5px;
	word-break: break-all;
}
.tablamv tr {
	display: table;
	width: 100%;
	box-sizing: border-box;
}
/*Encabezados fijos tablas buscar mas pequeños*/
.tablamv2{
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
	font-size:10px;
	background-color:#fff;
	font-weight:bold;
	color:#222;
	border: #FFFFFF 0px solid;
	margin-right:0px;
	margin-bottom:0px;
	margin-top:0px;
	padding-right:0px;
	border-radius: 2px;
	box-shadow: 0 1px 2px #222;
	-webkit-box-shadow: 0 0 5px #222;
	-moz-box-shadow: 0 1px 2px #222;
	width:99.8%;
}
.tablamv2 table, .tablamv2 td {
	border-collapse: collapse;
}
.tablamv2 thead {
	display: table;
	width: calc(100%);
}
.tablamv2 tbody {
	display: block;
	max-height: 56vh;
	overflow-y: scroll;
}
.tablamv2 th {
	height: 30px;
	word-break: break-all;
}
.tablamv2 td {
	padding: 5px;
	word-break: break-all;
}
.tablamv2 tr {
	display: table;
	width: 100%;
	box-sizing: border-box;
}
/*Titulos para encabezados buscar*/
.titulosnew01b{
	background-color:#A171FA;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
	font-weight:bold;
	color:#222;
	height:20px;
	font-size:12px;
	border-radius: 3px;
	cursor:pointer;
}
.titulosnew01b:hover{
	background: linear-gradient(#40f3ff , #40b3ff 70%, #40f3ff );
}
.titulosnew00{
	background-color:#9DF;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
	font-weight: 650;
	color:#444;
	height:20px !important;
	font-size:12px;
	border-radius: 3px;
}
.titulosnew01{
	background-color:#A171FA;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
	font-weight:bold;
	color:#222;
	height:20px;
	font-size:12px;
	border-radius: 3px;
}
.titulosnew02{
	background-color:#9DF;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
	font-weight:bold;
	color:#222;
	height:20px !important;
	font-size:12px;
	border-radius: 3px;
}
.titulosnew03{
	background-color:#A171FA;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
	font-weight:bold;
	color:#222;
	height:20px !important;;
	font-size:12px;
	border-radius: 3px;
}
.titulosnew04{
	background-color:rgb(114, 253, 126);
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
	font-weight:bold;
	color:#222;
	height:20px !important;
	font-size:12px;
	border-radius: 3px;
}
.titulosnew05{
	background-color:rgb(114, 253, 126);
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
	font-weight:bold;
	color:#222;
	height:20px !important;;
	font-size:12px;
	border-radius: 3px;
}
.titulosnew06{
	background-color:rgb(114, 253, 126);
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji", sans-serif, "Apple Color Emoji";
	font-weight:bold;
	color:#222;
	height:20px !important;;
	font-size:12px;
	border-radius: 3px;
	cursor:pointer;
}
.titulosnew06:hover{
	background: radial-gradient(#02CB44 10%,#53FFC1 70%);
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji", sans-serif, "Apple Color Emoji";
	font-weight:bold;
	color:#FFFFFF;
	height:20px !important;;
	font-size:12px;
	border-radius: 3px;
	cursor:pointer;
}
/*formatos para modales desplegables vue*/
.contenidonew00{
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
	font-size:10px;
	background-color: #efF;
	font-weight:normal;
	border:#eeeeee 1px solid;
	padding-left:3px;
	padding-right:3px;
	margin-bottom:1px;
	margin-top:1px;
	height:23.5px;
	border-radius: 1px;
}
.contenidonew00:hover{
	background: linear-gradient(#40f3ff , #40b3ff 70%, #40f3ff );
}
.contenidonew00-01{
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
	font-size:10px;
	background-color: #efF;
	font-weight:normal;
	border:#eeeeee 1px solid;
	padding-left:3px;
	padding-right:3px;
	margin-bottom:1px;
	margin-top:1px;
	height:23.5px;
	border-radius: 1px;
}
.contenidonew01{
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
	font-size:10px;
	background-color:#eee;
	font-weight:normal;
	border:#CCCCCC 1px solid;
	padding-left:3px;
	padding-right:3px;
	margin-bottom:1px;
	margin-top:1px;
	height:23.5px;
	border-radius: 2px;
}
.contenidonew01-01{
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
	font-size:10px;
	background-color:#eee;
	font-weight:normal;
	border:#CCCCCC 1px solid;
	padding-left:3px;
	padding-right:3px;
	margin-bottom:1px;
	margin-top:1px;
	height:23.5px;
	border-radius: 2px;
}
.contenidoAuxiliar{
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
	font-size:8px;
	background-color:#eee;
	font-weight:normal;
	border:#CCCCCC 1px solid;
	padding-left:3px;
	padding-right:3px;
	margin-bottom:1px;
	margin-top:1px;
	height:23.5px;
	border-radius: 2px;
    font-style: italic;
}
.contenidonew01:hover{
	background: linear-gradient(#40f3ff , #40b3ff 70%, #40f3ff );
}
.contenidonew02{
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
	font-size:10px;
	background-color:#9F33FF;
	font-weight:normal;
	border:#CCCCCC 1px solid;
	padding-left:3px;
	padding-right:3px;
	margin-bottom:1px;
	margin-top:1px;
	height:23.5px;
	border-radius: 2px;
}
.contenidonew00 td, .contenidonew01 td{
    font-size: 10px !important;
    border-right: 1px solid #dddddd;
}

.contenidonew02:hover{
	background: linear-gradient(#40f3ff , #40b3ff 70%, #40f3ff );
}
.contenidonew03{
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
	color:red;
	font-size:10px;
	background-color:#9F33FF;
	font-weight:normal;
	border:#CCCCCC 1px solid;
	padding-left:3px;
	padding-right:3px;
	margin-bottom:1px;
	margin-top:1px;
	height:23.5px;
	border-radius: 2px;
}
.contenidonew03:hover{
	background: linear-gradient(#40f3ff , #40b3ff 70%, #40f3ff );
}
.contenidonew04{
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
	font-size:10px;
	background-color:yellow;
	font-weight:normal;
	border:#CCCCCC 1px solid;
	padding-left:3px;
	padding-right:3px;
	margin-bottom:1px;
	margin-top:1px;
	height:23.5px;
	border-radius: 2px;
}
.contenidonew04:hover{
	background: linear-gradient(#40f3ff , #40b3ff 70%, #40f3ff );
}
.contenidonew05{
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
	color:red;
	font-size:10px;
	background-color: #efF;
	font-weight:normal;
	border:#eeeeee 1px solid;
	padding-left:3px;
	padding-right:3px;
	margin-bottom:1px;
	margin-top:1px;
	height:23.5px;
	border-radius: 1px;
}
.contenidonew05:hover{
	background: linear-gradient(#40f3ff , #40b3ff 70%, #40f3ff );
}
.contenidonew06{
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
	color:red;
	font-size:10px;
	background-color:#eee;
	font-weight:normal;
	border:#CCCCCC 1px solid;
	padding-left:3px;
	padding-right:3px;
	margin-bottom:1px;
	margin-top:1px;
	height:23.5px;
	border-radius: 2px;
}
.contenidonew06:hover{
	background: linear-gradient(#40f3ff , #40b3ff 70%, #40f3ff );
}
#listamenus{
	counter-reset: li;
	list-style: none;
	font: 15px 'trebuchet MS', 'lucida sans';
	padding: 10px;
	padding-left:25px;
	margin-bottom: 0.2em;
	text-shadow: 0 1px 0 rgba(255,255,255,.5);
}
#listamenus ol{
	margin: 1 0 0 2em;
}
#listamenus li{
	position: relative;
	display: block;
	padding: .4em .4em .4em 2em;
	margin: .7em 0;
	background: #ddd;
	color: #444;
	text-decoration: none;
	border-radius: .3em;
	transition: all .3s ease-out;
}
#listamenus li:hover{
	background: #eee;
	color: #444;
}
#listamenus li:hover:before{
	transform: rotate(360deg);
}
#listamenus li:before{
	content: counter(li);
	counter-increment: li;
	position: absolute;
	left: -1.3em;
	top: 50%;
	margin-top: -1.3em;
	background: #87ceeb;
	height: 2em;
	width: 2em;
	line-height: 2em;
	border: .3em solid #fff;
	text-align: center;
	font-weight: bold;
	border-radius: 2em;
	transition: all .3s ease-out;
}
/*Ventanas Modales*/
.modal-mask{
	position: fixed;
	z-index: 9998;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, .5);
	display: table;
	transition: opacity .3s ease;
}
.modal-wrapper {
	display: table-cell;
	vertical-align: middle;
}
.modal-container{
	width: 60%;
	margin: 0px auto;
	padding: 20px 30px;
	text-align: left;
	background:linear-gradient(#99bbcc, #B6CEDA);
	border-radius: 2px;
	box-shadow: 0 2px 8px rgba(0, 0, 0, .33);
	transition: all .3s ease;
}
.modal-container1{
	width: 50%;
	margin: 0px auto;
	padding: 20px 30px;
	text-align: left;
	background:linear-gradient(#99bbcc, #B6CEDA);
	border-radius: 10px;
	box-shadow: 0 2px 8px rgba(0, 0, 0, .33);
	transition: all .3s ease;
}
.modal-container2{
	width: 80%;
	margin: 0px auto;
	padding: 20px 30px;
	text-align: left;
	background:linear-gradient(#99bbcc, #B6CEDA);
	border-radius: 2px;
	box-shadow: 0 2px 8px rgba(0, 0, 0, .33);
	transition: all .3s ease;
}
.modal-container3{
	width: 90%;
	margin: 0px auto;
	padding: 20px 30px;
	text-align: left;
	background:linear-gradient(#99bbcc, #B6CEDA);
	border-radius: 2px;
	box-shadow: 0 2px 8px rgba(0, 0, 0, .33);
	transition: all .3s ease;
}
.textonew01{
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif;
	font-size: 14px;
	text-shadow: 2px 2px 4px rgba(0, 255, 34, 0.5);
	padding: 3px;
	margin: 2px 0;
	border-radius: 5px;
	height: 25px;
}
.textonew02{
	font-family: "Arial", sans-serif;
	font-size: 16px;
	color: #333;
	background-color: #f0f0f0;
	padding: 6px 6px;
	border: 1px solid #ccc;
	border-radius: 5px;
	box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
	display: inline-block;
	margin-bottom: 1px;
	height: auto;

}
.textonew00{
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif;
	font-size: 11px;
	text-shadow: 2px 2px 4px rgba(0, 255, 34, 0.5);
	padding: 3px;
	margin: 2px 0;
	border-radius: 5px;
}
.textoNewR{
	font-family: sans-serif, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
	font-size:14px;
	padding-top: 8px;
}
.labelR{
	background-color: #45E2E2;
	/* margin: 2px !important; */
	width: 90%;
	padding: 8px 6px;
	font-weight: 600;
	border-radius: 4px;
	box-shadow: 2px 3px rgb(218, 242, 229);
}
.saldo{
	background-color: #EAEDED;
	padding: 2px 6px;
	border-radius: 5px;
	margin-top:4px;
	box-shadow: 4px 2px 2px #CCD1D1;
}

/* Encabezados */

.tablamvR{
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
	font-size:14px;
	background-color:#fff;
	/* font-weight:bold; */
	color:#222;
	border: #FFFFFF 1px solid;
	margin-right:1px;
	margin-bottom:1px;
	margin-top:1px;
	padding-right:1px;
	border-radius: 2px;
	box-shadow: 0 1px 2px #222;
	-webkit-box-shadow: 0 0 5px #222;
	-moz-box-shadow: 0 1px 2px #222;
	/* width:99.8%; */
}
.tablamvR table, .tablamvR td {
	border-collapse: collapse;
}
.tablamvR thead {
	display: table;
	width: calc(100%);
}
.tablamvR tbody {
	display: block;
	max-height: 50vh;
	overflow-y: scroll;
	overflow-x: scroll;
}
.tablamvR th {
	height: 30px;
	word-break: break-all;
}
.tablamvR td {
	padding: 5px;
	word-break: break-all;
}
.tablamvR tr {
	display: table;
	width: 100%;
	box-sizing: border-box;
}

.inputR{
	padding: 4px !important;
	height: 10px;
}

.clickComp{
	cursor: pointer;
	text-decoration: underline blue;
}

/*Luz parpadeo semaforos*/

@keyframes parpadeo1 {
	0% { opacity: 0.7; }
	50% { opacity: 1; }
	100% { opacity: 0.7; }
}
.luz_verde {
	width: 24px;
	height: 24px;
	border-radius: 50%;
	box-shadow: inset 0px -10px 20px rgb(10, 221, 10);
	animation: parpadeo1 3s infinite;
}
.luz_roja {
	width: 24px;
	height: 24px;
	border-radius: 50%;
	box-shadow: inset 0px -10px 20px rgba(247, 3, 3, 10);
	animation: parpadeo1 3s infinite;
}

.neon_rojo {
	font-size: 30px;
	color: white;
	text-align: center;
	text-shadow: 0 0 5px rgb(255, 0, 0), 0 0 10px rgb(255, 0, 0), 0 0 20px rgb(255, 0, 0), 0 0 40px rgb(255, 0, 0);
	animation: glow 2s infinite alternate;
	filter: blur(1px);
	border: none;
	background: none;
	outline: none;
}
.neon_verde {
	font-size: 30px;
	color: white;
	text-align: center;
	text-shadow: 0 0 5px rgb(0, 255, 85), 0 0 10px rgb(0, 255, 85), 0 0 20px rgb(0, 255, 85), 0 0 40px rgb(0, 255, 85);
	animation: glow 2s infinite alternate;
	filter: blur(1px);
	border: none;
	background: none;
	outline: none;
}

@keyframes glow {
	from {
		filter: saturate(50);
		text-shadow: 0 0 5px rgb(255, 217, 0), 0 0 10px rgb(251, 255, 0),
					-2px -2px   #fff, -4px -4px   #fff,
					-6px -6px   #fff,-8px -8px   #fff,
					-10px -10px   #fff,-12px -12px   #fff,
					-14x-14x   #fff,-16x-16x   #fff,
					-18x-18x   #fff,-20x-20x   #fff;
	}
    to {
		filter: saturate(1);
		text-shadow: -1px -1px white,
		-2.5 px-2.5 px white,
		-4 px-4 px white,
		-6 px-6 px #fff,
		-8 px-8 px #fcf,
		-10 px-10 px #ccf;

	}
}
.garbageX {
	width: 30px;
	height: 28px;
	background-image: url('../imagenes/garbage2.png');
	background-size: cover;
}
.garbageX:hover {
	background-image: url('../imagenes/garbage3.png');
}
.garbageY {
	width: 30px;
	height: 28px;
	background-image: url('../imagenes/garbage1.png');
	background-size: cover;
}

/*Encabezados fijos sin limite inferior*/
.tablamv3{
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
	font-size:12px;
	background-color:#fff;
	font-weight:bold;
	color:#222;
	border: #FFFFFF 1px solid;
	margin-right:1px;
	margin-bottom:1px;
	margin-top:1px;
	padding-right:1px;
	border-radius: 2px;
	box-shadow: 0 1px 2px #222;
	-webkit-box-shadow: 0 0 5px #222;
	-moz-box-shadow: 0 1px 2px #222;
	width:99.8%;
}
.tablamv3 table, .tablamv3 td {
	border-collapse: collapse;
}
.tablamv3 thead {
	display: table;
	width: calc(100%);
}
.tablamv3 tbody {
	display: block;
	resize: vertical;
	overflow-y: scroll;
}
.tablamv3 th {
	height: 30px;
	word-break: break-all;
}
.tablamv3 td {
	padding: 5px;
	word-break: break-all;
}
.tablamv3 tr {
	display: table;
	width: 100%;
	box-sizing: border-box;
}

/*Encabezados fijos sin limite horizontal y vertical*/
.tablamv4{
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
	font-size:12px;
	background-color:#fff;
	font-weight:bold;
	color:#222;
	border: #FFFFFF 1px solid;
	margin-right:1px;
	margin-bottom:1px;
	margin-top:1px;
	padding-right:1px;
	border-radius: 2px;
	box-shadow: 0 1px 2px #222;
	-webkit-box-shadow: 0 0 5px #222;
	-moz-box-shadow: 0 1px 2px #222;
	width:99.8%;
}
.tablamv4 table, .tablamv4 td {
	border-collapse: collapse;
}
.tablamv4 thead {
	display: table;
	width: calc(100%);
}
.tablamv4 tbody {
	display: block;
	resize: vertical;
	overflow: scroll;
}
.tablamv4 th {
	height: 30px;
	word-break: break-all;
}
.tablamv4 td {
	padding: 5px;
	word-break: break-all;
}
.tablamv4 tr {
	display: flex;
	width: 100%;
	box-sizing: border-box;
}


.estilos-scroll::-webkit-scrollbar {
    width: 8px;     /* Tamaño del scroll en vertical */
    height: 8px;    /* Tamaño del scroll en horizontal */
    /* display: none; */  /* Ocultar scroll */
}

.estilos-scroll::-webkit-scrollbar-thumb {
    background: #0ea5e9;
    border-radius: 4px;
}

/* Cambiamos el fondo y agregamos una sombra cuando esté en hover */
.estilos-scroll::-webkit-scrollbar-thumb:hover {
    background: #0ea5e9;
    box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
}

/* Cambiamos el fondo cuando esté en active */
.estilos-scroll::-webkit-scrollbar-thumb:active {
    background-color: #1e40af;
}

.estilos-scroll::-webkit-scrollbar-track {
    background: #e1e1e1;
    border-radius: 4px;
}

/* Cambiamos el fondo cuando esté en active o hover */
.estilos-scroll::-webkit-scrollbar-track:hover,
.estilos-scroll::-webkit-scrollbar-track:active {
  background: #d4d4d4;
}

.tabla-ejecucion thead{
	position: sticky;
	top: 0;
}

.tabla-ejecucion tbody{
    font-size: 8px !important;
}
/* TOOLTIP PARA BOTONES*/
.tooltip {
    position: relative;
    display: inline-block;
    /*order-bottom: 1px dotted black;*/
}
.tooltip .tiptext {
    visibility: hidden;
    width: 120px;
    background-color: rgba(0, 0, 0, 0.589);
    color: #fff;
    text-align: center;
    border-radius: 3px;
    padding: 6px 0;
    position: absolute;
    z-index: 1;
	box-shadow: 0 5px 10px rgba(162, 167, 163, 0.801);
	font-weight: bold;
}
.tooltip .tiptext::after {
    content: "";
    position: absolute;
    border-width: 5px;
    border-style: solid;
}
.tooltip:hover .tiptext {
	visibility: visible;
	z-index: 999 !important;
}

/* TOOLTIP PARA BOTONES ARRIBA*/
.tooltip.top .tiptext{
    margin-left: -60px;
    bottom: 150%;
    left: 50%;
}
.tooltip.top .tiptext::after{
    margin-left: -5px;
    top: 100%;
    left: 50%;
    border-color: #2E2E2E transparent transparent transparent;
}

/* TOOLTIP PARA BOTONES ABAJO*/
.tooltip.bottom .tiptext{
    margin-left: -60px;
    top: 150%;
    left: 50%;
}
.tooltip.bottom .tiptext::after{
    margin-left: -5px;
    bottom: 100%;
    left: 50%;
    border-color: transparent transparent #2E2E2E transparent;
}

/* TOOLTIP PARA BOTONES IZQUIERDA*/
.tooltip.left .tiptext{
    top: -5px;
    right: 110%;
}
.tooltip.left .tiptext::after{
    margin-top: -5px;
    top: 50%;
    left: 100%;
    border-color: transparent transparent transparent #2E2E2E;
}

/* TOOLTIP PARA BOTONES DERECHA*/
.tooltip.right .tiptext{
    top: -5px;
    left: 110%;
}
.tooltip.right .tiptext::after{
    margin-top: -5px;
    top: 50%;
    right: 100%;
    border-color: transparent #2E2E2E transparent transparent;
}
:root{
    --spacer: 1rem;
    --color-primary:#26abd7;
    --color-blue:#2563eb;
    --color-blue-light: #dbeafe;
    --color-secondary:#99ddff;
    --color-danger:#dc3545;
    --color-success:#198754;
    --color-warning:#f8ba00;
    --color-white:#fff;
    --color-black:#000;
    --color-black-light:#444;
    --color-gray:#ccc;
    --color-gray-light:#eee;
    --btn-color-primary:#26abd7;
    --btn-color-danger:#dc3545;
    --btn-color-success:#198754;
    --btn-hover-color-primary: #0b92be;
    --btn-hover-color-blue: #194ec0;
    --btn-hover-color-danger: #b30a0a;
    --btn-hover-color-success: #096339;
    --btn-hover-color-warning: #eeb302;
}
/***********************RESET**********************/
body{
    background-color: #ebebf5 !important;
    margin: 0;
}
h2{
    font-size: initial;
}
#todastablas2 + table tr td{
    background-color: var(--color-blue) !important;
}
.divmenu{
    box-shadow: none !important;
    background-color: rgb(219,234,254) !important;
    margin: 0 !important;
}
.header-logo{
    background-color: var(--color-white);
}
.navmenu li a{
    background-color: transparent !important;
    color: var(--color-blue) !important;
    font-weight: bold !important;
    border: none !important;
}
.navmenu li ul li a{
    color:#000 !important;
    font-weight: normal !important;
}
.navmenu li a:hover{
    background-color: var(--color-blue) !important;
    color: var(--color-white) !important;
}
.navmenu ul{
    box-shadow: none !important;
    border-radius: 10px 10px 10px 10px;
}
.navmenu li a:hover svg{
    fill: var(--color-white) !important;
}
.navmenu li a svg{
    fill: var(--color-blue) !important;
}
.subsmenu{
    background-color: var(--color-white) !important;
}
html{
    background-color: #f3f4f6 !important;
}
img{
    border:none;
}
img:hover{
    box-shadow: none !important;
    border: none !important;
    border-radius: none !important;
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
table {
    margin: 0;
    caption-side: bottom;
    border-collapse: collapse;
}
tbody, td, tfoot, th, thead, tr {
    border-color: inherit;
    border-style: solid;
    border-width: 0;
}
.colordobleclik{
    background-color: var(--color-blue-light) !important;
    border-color: var(--color-blue-light) !important;
    box-shadow: none !important;
}
.colordobleclik:hover{
    border-color: var(--color-blue) !important;
    box-shadow: none !important;
}
/***********************TABS**********************/
.nav-tabs{
    display: flex;
    align-items: center;
    font-size: 14px;
}
.nav-item{
    padding: 5px;
    border-radius: 5px;
    background-color: #99ddff;
    color:#000;
    cursor: pointer;
    margin: 4px 4px 10px 0;
    font-weight: bold;
}
.nav-item.active{
    color:#fff;
    background-color: #3399cc;
}
.nav-content{
    display: none;
}
.nav-content.active{
    display: block;
}

/***********************TABLE**********************/
.table{
    width: 100%;
    text-align: left;
    padding: 0.5rem;
}
table thead{
    position: sticky; top: 0; z-index: 1;
}
.table thead tr,.table tbody tr{
    min-height: 1.5rem;
}
.table thead tr th,.table tbody tr td{
    padding: 0.2rem;
    min-height: 1.5rem;
}
.table thead tr th{
    background-color: var(--color-secondary);
    color: var(--color-black-light);
    border: 3px solid var(--color-white) !important;
}
.table tbody tr td{
    border: 3px solid var(--color-white) !important;
}
.table.table-hover tbody tr:hover td{
    background-color: var(--color-primary);
    color: var(--color-white);
    cursor: pointer;
}

.table tbody tr:nth-child(odd) {background: var(--color-gray-light)}
.table tbody tr:nth-child(even) {background: var(--color-white)}

/***********************EXOGENA**********************/
.table.exogena thead tr th{
    background-color: #008080;
    color: #fff;
    border: 3px solid var(--color-white) !important;
}
/***********************Certificado**********************/
table.table.table-base{
    border: 1px solid rgb(101,125,150) !important;
}
.table.table-base > thead > tr > th{
    background-color: var(--color-white)!important;
    color: var(--color-black) !important;
    border: 2px solid rgb(101,125,150) !important;
}

.table.table-base tbody tr td{
    border: 2px solid rgb(101,125,150) !important;
}
.table.table-base thead tr,.table.table-base tbody tr{
    border: 2px solid rgb(101,125,150) !important;
}

.table.table-base tbody tr td.custom-cell-1{
    border-top: 2px solid transparent !important;
    border-bottom: 2px solid transparent !important;
    background-color: #fff;
}
.table.table-base tbody tr td.custom-cell-2{
    border-top: 2px solid transparent !important;
    border-bottom: 2px solid transparent !important;
    background-color: rgb(241,244,247);
}
.table.table-base tbody tr.row-custom{
    border-top: 2px solid rgb(101,125,150) !important;
    border-bottom: 2px solid rgb(101,125,150) !important;
}
.table.table.table-base tbody tr:nth-child(odd) {background: var(--color-white)}
.table.table.table-base tbody tr:nth-child(even) {background: var(--color-white)}
.table-responsive{
    max-height: 80vh;
    height: 20rem;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    resize: vertical;
}

/***********************MODAL**********************/
.modal{
    position: fixed;
    z-index: 20;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    background-color: rgba(0,0,0, 0.4);
    display: flex;
    align-items: center;
    justify-content: center;
}
.modal-dialog{
    margin: 1.75rem auto;
    width: 500px;
    background-color: var(--color-white);
    border-radius: 5px;
}
.modal-header{
    padding: 1rem;
    border-bottom: 1px solid var(--color-gray);
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.modal-body{
    padding: 1rem;
    display: flex;
    flex-direction: column;
}
.modal-footer{
    padding: 1rem;
    display: flex;
    justify-content: end;
}
.modal-title{
    font-size: 1.25rem;
    font-weight: 500;
    margin: 0;
}
.btn-close{
    height: 2rem;
    width: 2rem;
    padding: 0 !important;
    margin: 0;
    position: relative;
}
.btn-close div{
    position:absolute;
    width: 20px !important;
    height: 3px !important;
    border-radius: 5px;
    top: 50%;
    left: 5px;
    transform: translate(0,-50%);
    background-color: var(--color-black-light);
    margin: auto;
}
.btn-close div:nth-child(1){
    transform: rotate(45deg);
}
.btn-close div:nth-child(2){
    transform: rotate(-45deg);
}
.modal-sm{
    width: 300px;
}
.modal-lg{
    width: 800px;
}
.modal-xl{
    width: 1140px;
}
/***********************PRINCIPAL**********************/
.dropdown-container{
    position: relative;
}
.dropdown-content{
    position: absolute;
    top:100% ;
    z-index: 10;
}
.dropdown-content ul{
    margin: 0;
    padding: 10px;
    list-style: none;
    width: 100%;
    border-radius: 10px 10px 10px 10px;
    border: 1px solid var(--color-gray);
    background-color: var(--color-white);
    white-space: nowrap;
}

.dropdown-content ul li{
    border: 1px solid var(--color-white);
    border-radius: 10px 10px 10px 10px;
    padding: 5px 5px;
    margin-bottom: 5px;
    font-weight: normal;
    cursor: pointer;
    break-inside: avoid;
    border-bottom: 1px solid var(--color-blue-light);
}
.dropdown-content ul li:hover,
.dropdown-content ul li:hover a,
.dropdown-content ul li:hover svg{
    background: #2563eb;
    color: var(--color-white);
    fill:var(--color-white);
}
.dropdown-content svg{
    height: 1.4rem;
    width: 1.2rem;
    margin-left: 0.3rem;
    fill: var(--color-black);
}
.dropdown-content ul li a{
    font-size:inherit;
    font-weight: normal;
    width: 100%;
}
.img-fluid{
    height: 30px;
    width: 100%;
}
.img-fill{
    object-fit: fill;
}
.img-cover{
    object-fit: cover;
}
.img-contain{
    object-fit: contain;
}
.containernew{
    margin-left: 20rem;
    margin-right: 20rem;
}
.containernew-left{
    margin-left: 20rem;
}
.containernew-right{
    margin-right: 20rem;
}
.header-content{
    background-color: var(--color-blue);
}
.main-container{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100vh;
    background-color: #ebebf5;
}
.main-content{
    display: flex;
    width: 100%;
    gap: 10px;
}
.main-card{
    height: 100%;
    width: 100%;
    border-radius: 10px 10px 10px 10px;
    -moz-border-radius: 10px 10px 10px 10px;
    -webkit-border-radius: 10px 10px 10px 10px;
    -webkit-box-shadow: 0px 6px 11px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 6px 11px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 6px 11px 0px rgba(0,0,0,0.75);
    background-color: var(--color-white);
}
.card-container{
    height: 100%;
    width: 100%;
}
.card{
    width: 100%;
    border-radius: 10px 10px 10px 10px;
    border:1px solid var(--color-blue);

    background: rgb(255,255,255);
    transition: 0.5s all ease;

}
.card h2{
    color: var(--color-blue);
}

.card:hover{
    background-color: var(--color-blue);
    color:var(--color-white);
}
.card:hover h2{
    color:var(--color-white);
}
.card:hover svg{
    fill:var(--color-white);
}
/***********************SHADOWS**********************/
.shadow-b{
    box-shadow: rgba(25, 134, 84, 0.5) 0px 1px 2px 0px !important;
}
/***********************BORDERS**********************/
.border-rounded{
    border-radius: 50%;
}
.border-none{
    border: none;
}
.border-radius{
    border-radius: 10px 10px 10px 10px;
}
.border{
    border: 1px solid var(--color-gray);
}
.border-primary{
    border: 1px solid var(--color-primary);
}
.border-secondary{
    border: 1px solid var(--color-secondary);
}
.border-success{
    border: 1px solid var(--color-success);
}
.border-warning{
    border: 1px solid var(--color-warning);
}
.border-danger{
    border: 1px solid var(--color-danger);
}
/***********************LOGIN**********************/
.login-body *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    position: relative;
}
.login-container{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100vh;
    background-color: #ebebf5;
    display: flex;
    justify-content: center;
    align-items: center;
}
.login-form{
    display: flex;
    flex-direction: column;
    padding: 2rem;
    width: 500px;
    height: 600px;
    border-radius: 10px 10px 10px 10px;
    border-bottom: 1px solid var(--color-blue);
    background-color: var(--color-white);
}
.login-img{
    height: 200px;
}
.login-img img{
    height: 100%;
}
.login-img img:hover{
    box-shadow: none;
}
/***********************LOADING**********************/
.loading-container{
    position: absolute;
    z-index: 100000;
    width: 100vw;
    height: 100vh;
    bottom: 0;
    left: 0;
    background-color: rgba(255,255,255,0.8);
    display: flex;
    align-items: center;
    justify-content: center;
}
.text-loading{
    font-size: 4rem;
    font-weight: bold;
    color: transparent;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #00A859;
    margin: 0;
    position: relative;
    overflow: hidden;
}
.text-loading::before{
    content: attr(data-loading);
    z-index: 1;
    position: absolute;
    -webkit-text-fill-color: #00A859;
    color: #00A859;
    width: 100%;
    overflow: hidden;
    transition: 0.4s ease-out width;
    animation-name: loading;
    animation-duration: 2s;
    animation-timing-function: ease-in;
    animation-iteration-count: infinite;
}
@keyframes loading {
    0%{
        width: 0%;
    }
    25%{
        width: 50%;
    }50%{
        width: 80%;
    }75%{
        width: 100%;
    }100%{
        width: 100%;
    }
}

/***********************FORMS**********************/
.form-label{
    margin-bottom: 0.5rem;
}
.form-control{
    display: flex;
    flex-direction: column;
    margin: 0.5rem;
    width: 100%;
    gap: 0.3rem;
    position: relative;
}

.form-control input, .form-control select{
    height: 2rem;
    font-size: 0.8rem;
    border-radius: 5px;
    padding-left: 1rem;
    padding-right: 1rem;
    width: 100%;
    box-shadow: none;
    border-color: var(--color-gray);
    background-color: var(--color-white);
}
.form-control textarea{
    font-size: 0.8rem;
    border-radius: 5px;
    padding-left: 1rem;
    padding-right: 1rem;
    width: 100%;
    box-shadow: none;
    border-color: var(--color-gray);
    background-color: var(--color-white);
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}
.form-control input:focus,.form-control textarea:focus{
    outline: none;
    transition: none;
    -webkit-transition: none;
    -moz-transition: none;
    border: 1px solid rgba(0,0,0, 0.2);
    background-color: var(--color-white);
}
.form-control input:disabled{
    background-color: var(--color-gray-light);
}
.form-control textarea{
    border-radius: 5px;
    padding-left: 1rem;
    padding-right: 1rem;
    font-size: 0.8rem;
    width: 100%;
}
.form-control input[type="file"]{
    cursor: pointer;
    color: var(--color-black);
}
.form-control input[type="file"]::-webkit-file-upload-button{
    cursor: pointer;
    height: 100%;
    background-color: var(--btn-color-primary);
    color:var(--color-white);
    border: none;
    border-radius: 5px;
}
.form-control select{
    background-color: var(--color-white) !important;
    font-weight: normal !important;
}
.form-control select > option{
    background-color: var(--color-white);
    font-size: 0.8rem;
}
.form-control select:disabled{
    background-color: var(--color-gray-light) !important;
}
.form-number,.form-icon{
    display: flex;
    justify-content: center;
    align-items: center;
}
.form-icon span svg{
    height: 1.4rem;
    width: 1.2rem;
    margin-left: 0.3rem;
    fill:var(--color-black);
}
.form-number span,.form-icon span{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 1.9rem;
    width: 2rem;
    font-size: 1rem;
    font-weight: bold;
    border-radius: 5px;
    border: 1px solid rgba(0,0,0, 0.2);
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    vertical-align: middle;
    text-align: center;
    padding: auto;
}
.form-number span::before{
    content:"$";
    position: absolute;
}
.form-number.number-primary span{
    color:var(--color-white);
    background-color: var(--color-primary);
}
.form-number.number-success span{
    color:var(--color-white);
    background-color: var(--color-success);
}
.form-number.number-warning span{
    color:var(--color-black);
    background-color: var(--color-warning);
}
.form-number.number-danger span{
    color:var(--color-white);
    background-color: var(--color-danger);
}
.form-number.number-gray span{
    color:var(--color-black-light);
    background-color: var(--color-gray-light);
}
.form-number input{
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.form-checkbox{
    display: flex;
    align-items: center;
    margin: 0.5rem;
}
.form-checkbox input[type="checkbox"]{
    width: 1rem;
}
.form-switch{
    position: relative;
    height: 1.5rem;
    width: 1.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
    border-radius: 20px;
    border: 1px solid var(--color-gray);
    cursor: pointer;
}
.form-switch input{
    display: none;
}
.form-switch span{
    position: absolute;
    left: 0;
    top: 0;
    z-index: 5;
    background-color: var(--color-white);
    transition: 0.4s;
    width: 100%;
    height: 100%;
    border-radius: 20px;
}
.form-switch span::before{
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    z-index: 5;
    width: 1.5rem;
    height: 1.5rem;
    background-color: var(--color-gray);
    border-radius: 50%;
    transition: 0.4s;
}
.form-switch input:checked + span{
    background-color: var(--color-primary);
}
.form-switch input:checked + span::before{
    transform: translateX(2rem);
    background-color: var(--color-white);
}
/***********************BUTTONS**********************/
.btn {
    --bs-btn-padding-x: 0.75rem;
    --bs-btn-padding-y: 0.32rem;
    --bs-btn-font-family: ;
    --bs-btn-font-size: 0.815rem;
    --bs-btn-font-weight: 400;
    --bs-btn-line-height: 1.5;
    --bs-btn-color: var(--color-black);
    --bs-btn-bg: transparent;
    --bs-btn-border-width: 1px;
    --bs-btn-border-color: transparent;
    --bs-btn-border-radius: 5px;
    --bs-btn-hover-border-color: transparent;
    --bs-btn-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15),0 1px 1px rgba(0, 0, 0, 0.075);
    --bs-btn-disabled-opacity: 0.65;
    display: inline-block;
    padding: var(--bs-btn-padding-y) var(--bs-btn-padding-x);
    font-family: var(--bs-btn-font-family);
    font-size: var(--bs-btn-font-size);
    font-weight: var(--bs-btn-font-weight);
    line-height: var(--bs-btn-line-height);
    color: var(--bs-btn-color);
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    border: var(--bs-btn-border-width) solid var(--bs-btn-border-color);
    border-radius: var(--bs-btn-border-radius);
    background-color: var(--bs-btn-bg);
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.group-btn{
    display: flex;
    margin-top: calc(0.25 * var(--spacer)) !important;
    margin-bottom: calc(0.25 * var(--spacer)) !important;
}
.group-btn button{
    margin-right: 0.3rem;
}
.group-btn .btn{
    --bs-btn-color: var(--color-black) !important;
    --bs-btn-bg: var(--color-white);
    --bs-btn-border-color:var(--color-gray);
}
.group-btn .btn:hover{
     --bs-btn-bg: var(--color-gray);
}
.group-btn .btn svg{
    height: 1.2rem;
    width: 1.2rem;
    margin-left: 0.3rem;
    margin-right: 0.3rem;
    fill:var(--color-black) !important;
}
.btn svg{
    height: 1.4rem;
    width: 1.2rem;
    margin-left: 0.3rem;
    fill:var(--color-black);
}
.btn-white {
    --bs-btn-color: var(--color-black);
    --bs-btn-bg: var(--color-white);
    --bs-btn-border-color:var(--color-gray);
}
.btn-primary {
    --bs-btn-color: var(--color-white);
    --bs-btn-bg: var(--btn-color-primary);
    --bs-btn-border-color:var(--btn-color-primary);
}

.btn-success {
    --bs-btn-color: var(--color-white);
    --bs-btn-bg: var(--btn-color-success);
    --bs-btn-border-color: var(--btn-color-success);
}
.btn-danger {
    --bs-btn-color: var(--color-white);
    --bs-btn-bg: var(--btn-color-danger);
    --bs-btn-border-color: var(--btn-color-danger);
}
.btn-warning {
    --bs-btn-color: var(--color-black);
    --bs-btn-bg: var(--color-warning);
    --bs-btn-border-color: var(--color-warning);
}
.btn-secondary {
    --bs-btn-color: var(--color-white);
    --bs-btn-bg: var(--color-black-light);
    --bs-btn-border-color: var(--color-black-light);
}
.btn-dropdown,.btn-dropdown svg {
    --bs-btn-color: var(--color-blue);
    --bs-btn-bg: var(--color-blue-light);
    --bs-btn-border-color: transparent;
    fill:var(--color-blue);
}
.btn-blue, .btn-blue svg{
    --bs-btn-bg: var(--color-blue);
    --bs-btn-color: var(--color-white);
    fill:var(--color-white);
}
.btn-primary svg,.btn-success svg,.btn-danger svg{
    fill:var(--color-white);
}
.btn-warning svg{
    fill:var(--color-black);
}
.btn-white:hover,.btn-white-hover:hover{
    --bs-btn-bg: var(--color-gray);
}
.btn-dropdown:hover,.btn-dropdown:hover svg {
    --bs-btn-color: var(--color-white);
    --bs-btn-bg: var(--color-blue);
    fill:var(--color-white);
}
.btn-primary:hover,.btn-primary-hover:hover{
    --bs-btn-bg: var(--btn-hover-color-primary);
    --bs-btn-color: var(--color-white);
    fill:var(--color-white);
}
.btn-blue:hover,.btn-blue-hover:hover{
    --bs-btn-bg: var(--btn-hover-color-blue);
    --bs-btn-color: var(--color-white);
    fill:var(--color-white);
}
.btn-danger:hover,.btn-danger-hover:hover{
    --bs-btn-bg: var(--btn-hover-color-danger);
    --bs-btn-color: var(--color-white);
    fill:var(--color-white);
}
.btn-success:hover,.btn-success-hover:hover{
    --bs-btn-bg: var(--btn-hover-color-success);--bs-btn-color: var(--color-white);
    fill:var(--color-white);
}
.btn-warning:hover,.btn-warning-hover:hover{
    --bs-btn-bg: var(--btn-hover-color-warning);--bs-btn-color: var(--color-black);
    fill:var(--color-black);
}
.btn-warning-hover:hover svg{
    fill:var(--color-black);
}
.btn-primary-hover:hover svg,.btn-success-hover:hover svg,.btn-danger-hover:hover svg{
    fill:var(--color-white);
}
.btn-sm{
    --bs-btn-padding-x: 0.35rem;
    --bs-btn-padding-y: 0.12rem;
}
.btn-md{
    --bs-btn-padding-x: 0.55rem;
    --bs-btn-padding-y: 0.22rem;
}
/***********************TAGS**********************/
.badge {
    --bs-badge-padding-x: 0.65em;
    --bs-badge-padding-y: 0.35em;
    --bs-badge-font-size: 0.75em;
    --bs-badge-font-weight: 700;
    --bs-badge-color: var(--color-white);
    --bs-badge-bg: transparent;
    --bs-badge-border-radius: 0.375rem;
    display: inline-block;
    padding: var(--bs-badge-padding-y) var(--bs-badge-padding-x);
    font-size: var(--bs-badge-font-size);
    font-weight: var(--bs-badge-font-weight);
    line-height: 1;
    color: var(--bs-badge-color);
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: var(--bs-badge-border-radius);
    background-color: var(--bs-badge-bg);
}
.badge-danger{
    --bs-badge-color: var(--color-white);
    --bs-badge-bg: var(--btn-color-danger);
}
.badge-success{
    --bs-badge-color: var(--color-white);
    --bs-badge-bg: var(--btn-color-success);
}
.badge-primary{
    --bs-badge-color: var(--color-white);
    --bs-badge-bg: var(--color-primary);
}
.badge-warning{
    --bs-badge-color: var(--color-black);
    --bs-badge-bg: var(--color-warning);
}
/***********************KEYFRAMES**********************/
.marquee{
    margin: 0;
    position: absolute;
    bottom: -100%;
    left: 0;
    height: 100%;
    width: 100%;
    padding: 0 0.5rem;
    -webkit-animation: animMarquee 10s linear 0s infinite normal;
    -moz-animation: animMarquee 10s linear 0s infinite normal;
    -o-animation: animMarquee 10s linear 0s infinite normal;
    animation: animMarquee 10s linear 0s infinite normal;

}
.marquee li{
    margin-bottom: 5px;
}
.marquee li:hover{
    background-color: var(--color-primary);
    color:var(--color-white);
}
.marquee:hover{
    -webkit-animation-play-state:paused;
    -moz-animation-play-state:paused;
    -o-animation-play-state:paused;
    animation-play-state:paused;
}
@keyframes animMarquee {
    0%{
        bottom: -100%;
    }50%{
        bottom: 0;
    }100%{
        bottom: 150%;
    }
}
/***********************UTILITIES**********************/
.resize-both{
    resize: both;
}
.resize-horizontal{
    resize: horizontal;
}
.resize-vertical{
    resize: vertical;
}
.resize-none{
    resize: none;
}
.d-none{
    display: none;
}
.overflow-hidden{
    overflow: hidden;
}
.overflow-y{
    overflow-y: auto;
    overflow-x: hidden;
}
.relative{
    position: relative;
}
.absolute{
    position: absolute;
}
.fixed{
    position: fixed;
}
.top-50 {
    right: 50% !important;
}
.bottom-50 {
    right: 50% !important;
}
.start-50 {
    right: 50% !important;
}
.end-50 {
    right: 50% !important;
}
.top-0 {
    right: 50% !important;
}
.bottom-0 {
    right: 50% !important;
}
.start-0 {
    right: 50% !important;
}
.end-0 {
    right: 50% !important;
}
.d-flex{
    display: flex !important;
}
.align-items-center{
    align-items: center !important;
}
.align-items-end{
    align-items:end !important
}
.align-items-start{
    align-items:start!important
}
.justify-between{
    justify-content: space-between!important;
}
.justify-center{
    justify-content: center!important;
}
.justify-end{
    justify-content: end!important;
}
.flex-row{
    flex-direction: row;
}
.flex-column{
    flex-direction: column;
}
.flex-grow-1{
    flex-grow: 1!important;
}
.flex-shrink-1 {
    flex-shrink: 1!important;
}
.flex-fill {
    flex: 1 1 auto!important;
}
.flex-wrap{
    flex-wrap: wrap!important;
}
.flex-nowrap{
    flex-wrap: nowrap!important;
}

.m-0{
    margin: calc(0 * var(--spacer)) !important;
}
.m-1{
    margin: calc(0.25 * var(--spacer)) !important;
}
.m-2{
    margin: calc(0.5 * var(--spacer)) !important;
}
.m-3{
    margin: var(--spacer) !important;
}
.m-4{
    margin: calc(1.5 * var(--spacer)) !important;
}
.m-5{
    margin: calc(3 * var(--spacer)) !important;
}
.mb-0{
    margin-bottom: calc(0 * var(--spacer)) !important;
}
.mb-1{
    margin-bottom: calc(0.25 * var(--spacer)) !important;
}
.mb-2{
    margin-bottom: calc(0.5 * var(--spacer)) !important;
}
.mb-3{
    margin-bottom: var(--spacer) !important;
}
.mb-4{
    margin-bottom: calc(1.5 * var(--spacer)) !important;
}
.mb-5{
    margin-bottom: calc(3 * var(--spacer)) !important;
}
.mt-0{
    margin-top: calc(0 * var(--spacer)) !important;
}
.mt-1{
    margin-top: calc(0.25 * var(--spacer)) !important;
}
.mt-2{
    margin-top: calc(0.5 * var(--spacer)) !important;
}
.mt-3{
    margin-top: var(--spacer) !important;
}
.mt-4{
    margin-top: calc(1.5 * var(--spacer)) !important;
}
.mt-5{
    margin-top: calc(3 * var(--spacer)) !important;
}
.ms-0{
    margin-left: calc(0 * var(--spacer)) !important;
}
.ms-1{
    margin-left: calc(0.25 * var(--spacer)) !important;
}
.ms-2{
    margin-left: calc(0.5 * var(--spacer)) !important;
}
.ms-3{
    margin-left: var(--spacer) !important;
}
.ms-4{
    margin-left: calc(1.5 * var(--spacer)) !important;
}
.ms-5{
    margin-left: calc(3 * var(--spacer)) !important;
}
.me-0{
    margin-right: calc(0 * var(--spacer)) !important;
}
.me-1{
    margin-right: calc(0.25 * var(--spacer)) !important;
}
.me-2{
    margin-right: calc(0.5 * var(--spacer)) !important;
}
.me-3{
    margin-right: var(--spacer) !important;
}
.me-4{
    margin-right: calc(1.5 * var(--spacer)) !important;
}
.me-5{
    margin-right: calc(3 * var(--spacer)) !important;
}
.p-0{
    padding: calc(0 * var(--spacer)) !important;
}
.p-1{
    padding: calc(0.25* var(--spacer)) !important;
}
.p-2{
    padding: calc(0.5* var(--spacer)) !important;
}
.p-3{
    padding: calc(var(--spacer)) !important;
}
.p-4{
    padding: calc(1.5 * var(--spacer)) !important;
}
.p-5{
    padding: calc(3* var(--spacer)) !important;
}
.pe-0{
    padding-right: calc(0 * var(--spacer)) !important;
}
.pe-1{
    padding-right: calc(0.25* var(--spacer)) !important;
}
.pe-2{
    padding-right: calc(0.5* var(--spacer)) !important;
}
.pe-3{
    padding-right: calc(var(--spacer)) !important;
}
.pe-4{
    padding-right: calc(1.5 * var(--spacer)) !important;
}
.pe-5{
    padding-right: calc(3* var(--spacer)) !important;
}
.ps-0{
    padding: calc(0 * var(--spacer)) !important;
}
.ps-1{
    padding-left: calc(0.25* var(--spacer)) !important;
}
.ps-2{
    padding-left: calc(0.5* var(--spacer)) !important;
}
.ps-3{
    padding-left: calc(var(--spacer)) !important;
}
.ps-4{
    padding-left: calc(1.5 * var(--spacer)) !important;
}
.ps-5{
    padding-left: calc(3* var(--spacer)) !important;
}
.pt-0{
    padding-top: calc(0 * var(--spacer)) !important;
}
.pt-1{
    padding-top: calc(0.25* var(--spacer)) !important;
}
.pt-2{
    padding-top: calc(0.5* var(--spacer)) !important;
}
.pt-3{
    padding-top: calc(var(--spacer)) !important;
}
.pt-4{
    padding-top: calc(1.5 * var(--spacer)) !important;
}
.pt-5{
    padding-top: calc(3* var(--spacer)) !important;
}
.pb-0{
    padding-bottom: calc(0 * var(--spacer)) !important;
}
.pb-1{
    padding-bottom: calc(0.25* var(--spacer)) !important;
}
.pb-2{
    padding-bottom: calc(0.5* var(--spacer)) !important;
}
.pb-3{
    padding-bottom: calc(var(--spacer)) !important;
}
.pb-4{
    padding-bottom: calc(1.5 * var(--spacer)) !important;
}
.pb-5{
    padding-bottom: calc(3* var(--spacer)) !important;
}
.bg-transparent{
    background-color: transparent !important;
}
.bg-white{
    background-color: var(--color-white) !important;
}
.bg-success{
    background-color: var(--color-success) !important;
}
.bg-danger{
    background-color: var(--color-danger) !important;
}
.bg-primary{
    background-color: var(--color-primary) !important;
}
.bg-secondary{
    background-color: var(--color-secondary) !important;
}
.bg-warning{
    background-color: var(--color-warning) !important;
}
.bg-blue{
    background-color: var(--color-blue) !important;
}
.bg-blue-light{
    background-color: var(--color-blue-light) !important;
}
.overflow-auto{
    overflow: auto!important;
}
.overflow-x-hidden{
    overflow-x: hidden!important;
}
.w-inherit{
    width: inherit!important;
}
.w-15{
    width: 15%!important;
}
.w-25{
    width: 25%!important;
}
.w-50{
    width: 50%!important;
}
.w-75{
    width: 75%!important;
}
.w-100{
    width: 100%!important;
}
.h-inherit{
    height: inherit!important;
}
.h-25{
    height: 25%!important;
}
.h-50{
    height: 50%!important;
}
.h-75{
    height: 75%!important;
}
.h-80{
    height: 80%!important;
}
.h-90{
    height: 90%!important;
}
.h-100{
    height: 100%!important;
}
.max-vh-15{
    max-height: 15vh!important;
}
.max-vh-25{
    max-height: 25vh!important;
}
.max-vh-50{
    max-height: 50vh !important;
}
.max-vh-75{
    max-height: 75vh !important;
}
.text-center{
    text-align: center!important;
}
.text-left{
    text-align: left!important;
}
.text-right{
    text-align: right!important;
}
.text-blue{
    color:var(--color-blue) !important;
}
.text-black{
    color:var(--color-black) !important;
}
.text-black-light{
    color:var(--color-black-light) !important;
}
.text-white{
    color:var(--color-white) !important;
}
.text-secondary{
    color:var(--color-gray) !important;
}
.text-danger{
    color:var(--color-danger) !important;
}
.text-success{
    color:var(--color-success) !important;
}
.text-primary{
    color:var(--color-primary) !important;
}
.text-nowrap{
    text-wrap: nowrap;
}
.fw-normal{
    font-weight: normal!important;
}
.fw-bold{
    font-weight: bold!important;
}
.fw-bolder{
    font-weight: bolder!important;
}
.fs-0{
    font-size: calc(0 * var(--spacer)) !important;
}
.fs-1{
    font-size: calc(0.25 * var(--spacer)) !important;
}
.fs-2{
    font-size: calc(0.5 * var(--spacer)) !important;
}
.fs-3{
    font-size: var(--spacer) !important;
}
.fs-4{
    font-size: calc(1.5 * var(--spacer)) !important;
}
.fs-5{
    font-size: calc(3 * var(--spacer)) !important;
}
.cursor-pointer{
    cursor: pointer;
}
.cursor-none{
    cursor: none;
}


/***********************MEDIA QUERIES**********************/
@media only screen and (min-width : 768px) and (max-width: 1599px){
    .table-responsive{
        height: 20rem;
    }
    .table-sm {
        height: 6rem;
    }
    .table-md {
        height: 10rem;
    }
    .table thead tr th{
        text-wrap: nowrap;
    }
    p{
        margin-top: 1px;
        margin-bottom: 1px;
    }
    .form-switch,.form-switch span::before{
        height: 1rem;
        width: 1rem;
    }
    .form-label{
        margin-bottom: 1px;
    }
    .titulos{
        font-size: 14px;
        height: 18px;
    }
    .nav-item{
        margin-bottom: 2px;
        padding: 2.5px;
    }
    .form-control{
        margin: 0.2rem;
    }
    .form-control input, .form-control select{
        height: 1.5rem;
        padding-left: 0.7rem;
        padding-right: 0.7rem;
        width: 100%;
    }
    .form-number span,.form-icon span{
        height: 1.4rem;
    }
    .btn {
        --bs-btn-padding-y: 0.10rem ;
    }
    label,table,p:not(.text-loading),span, table th, table td, .nav-item{
        font-size: 0.8rem ;
    }
    .containernew{
        margin-left: 8rem;
        margin-right: 8rem;
    }
    .containernew-left{
        margin-left: 8rem;
    }
    .containernew-right{
        margin-right: 8rem;
    }
    .card div{
        padding: 4px !important;
    }
    .card div svg{
        height: 20px !important;
    }
    .card div h2{
        font-size: 15px !important;
    }
    .card div p{
        font-size: 12px !important;
    }
    .header-logo {
        padding: 7px !important;
    }
    .header-logo img{
        height: 40px;
    }
    .header-content h2{
        font-size: 15px;
    }
    .header-content h3{
        font-size: 12px !important;
    }
    .info-content svg{
        height: 20px !important;
    }
    .info-content p,.info-content span,.info-content a{
        font-size: 12px !important;
    }
}
@media only screen and (min-width : 1600px) {
    .card p{
        margin: 0;
    }
    .table-sm {
        height: 15rem;
    }
    .table-md {
        height: 18rem;
    }
    .nav-item{
        padding: 5px;
    }
    .titulos{
        font-size: 16px;
        height: 24px;
    }
    .form-switch,.form-switch span::before{
        height: 1.5rem;
        width: 1.5rem;
    }
    .form-control{
        margin: 0.5rem;
    }
    .form-number span,.form-icon span{
        height: 1.9rem;
    }
    .form-control input, .form-control select{
        height: 2rem;
        font-size: 0.8rem;
        padding-left: 1rem;
        padding-right: 1rem;
    }
    .table-responsive{
        height: 23rem;
    }
    .btn{
        --bs-btn-padding-y: 0.32rem;
    }
    .form-label{
        margin-bottom: 0.5rem;
    }
    label,table,p:not(.text-loading),span, table th, table td, .nav-item{
        font-size: 0.815rem;
    }
    .table thead tr th{
        text-wrap: wrap;
    }
}

