/* html,body {overflow:hidden;} */

.onoffswitch
{
    position: relative; width: 71px;
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select: none;
}
.onoffswitch-checkbox {display: none;}
.onoffswitch-label 
{
    display: block;
    overflow: hidden;
    cursor: pointer;
    border: 2px solid #DDE6E2;
    border-radius: 20px;
}
.onoffswitch-inner 
{
    display: block;
    width: 200%;
    margin-left: -100%;
    transition: margin 0.3s ease-in 0s;
}
.onoffswitch-inner:before, .onoffswitch-inner:after
{
    display: block;
    float: left;
    width: 50%;
    height: 23px;
    padding: 0;
    line-height: 23px;
    font-size: 14px;
    color: white;
    font-family: Trebuchet, Arial, sans-serif;
    font-weight: bold;
    box-sizing: border-box;
}
.onoffswitch-inner:before
{
    content: "SI";
    padding-left: 10px;
    background-color: #51C3E0;
    color: #FFFFFF;
}
.onoffswitch-inner:after 
{
    content: "NO";
    padding-right: 10px;
    background-color: #EEEEEE; color: #999999;
    text-align: right;
}
.onoffswitch-switch 
{
    display: block;
    width: 17px; 
    margin: 3px;
    background: #FFFFFF;
    position: absolute;
    top: 0; 
    bottom: 0;
    right: 44px;
    border: 2px solid #DDE6E2;
    border-radius: 20px;
    transition: all 0.3s ease-in 0s;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {margin-left: 0;}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {right: 0px;}

@keyframes a1 
{
	to{ transform: rotate(360deg); }
}
@keyframes a2 
{
	to{ transform: rotate(-360deg);}
}

.centrarSelect
{
    height: 30px !important;
    text-align-last:center !important;
}

.aumentarTamaño
{
    font-size:15px;
    text-align: center;
}

.aumentarOption
{
    font-size: 15px;
}

.centrarOption
{
    text-align: center;
}

.grande td > [type=text], .ancho td > select, .ancho td > [type=password], .ancho td > input[readonly], .ancho td > [type=date], .ancho td > [type=time], .ancho td > [type=file], .ancho td > [type=search]
{
	height: 32px !important;
	padding: 5px;
}

.tamano01
{
    text-align: center !important;
}

/* vue */

.modal-mask
{
    position: fixed;
    z-index: 9998;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .5);
    display: table;
    transition: opacity .3s ease;
}
.modal-wrapper 
{
    display: table-cell;
    vertical-align: middle;
}
.modal-container
{
    width: 60%;
    margin: 0px auto;
    padding: 20px 30px;
    text-align: left;
    background:linear-gradient(#99bbcc, #B6CEDA);
    border-radius: 2px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, .33);
    transition: all .3s ease;
}
.modal-container1
{
    width: 50%;
    margin: 0px auto;
    padding: 20px 30px;
    text-align: left;
    background:linear-gradient(#99bbcc, #B6CEDA);
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, .33);
    transition: all .3s ease;
}
.modal-container2
{
    width: 80%;
    margin: 0px auto;
    padding: 20px 30px;
    text-align: left;
    background:linear-gradient(#99bbcc, #B6CEDA);
    border-radius: 2px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, .33);
    transition: all .3s ease;
}
.modal-container3
{
    width: 90%;
    margin: 0px auto;
    padding: 20px 30px;
    text-align: left;
    background:linear-gradient(#99bbcc, #B6CEDA);
    border-radius: 2px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, .33);
    transition: all .3s ease;
}
[v-cloak]{display : none;}
footer
{
    text-align: right;
}