/* Reset some default styling */
body, h1, p {
    margin: 0;
    padding: 0;
}

/* Basic styling */
body {
    font-family: Arial, sans-serif;
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.logo {
    font-size: 24px;
    font-weight: bold;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
}

.nav-links li a {
    color: #fff;
    text-decoration: none;
}

.sign-in {
    background-color: #fff;
    color: #333;
    border: none;
    padding: 8px 16px;
    border-radius: 5px;
    cursor: pointer;
}

/* Styling for the hero section */
.hero {
    background-image: url('https://cdn.pixabay.com/photo/2019/07/21/13/42/nature-conservation-4352793_1280.jpg');
    background-size: cover;
    color: #fff;
    text-align: center;
    padding: 100px 0;
}

.hero h1 {
    font-size: 36px;
    margin-bottom: 20px;
}

.hero p {
    font-size: 18px;
    margin-bottom: 40px;
}

.get-started {
    background-color: #28a745;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

/* Styling for the "Explore repositories" section */
.explore-repos {
    background-color: #f6f8fa;
    padding: 50px 0;
    text-align: center;
}

.explore-repos h2 {
    font-size: 28px;
    margin-bottom: 20px;
}

.repo-list {
    display: flex;
    justify-content: center;
    gap: 40px;
    flex-wrap: wrap;
}

.repo {
    background-color: #fff;
    border: 1px solid #e1e4e8;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 300px;
}

.repo img {
    max-width: 100%;
    border-radius: 5px;
    margin-bottom: 10px;
}

.repo h3 {
    font-size: 20px;
    margin-bottom: 10px;
}

.repo p {
    font-size: 16px;
    color: #586069;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}

footer p {
    font-size: 14px;
}

/* Styling for links in the footer */
footer a {
    color: #fff;
    text-decoration: underline;
}

footer a:hover {
    color: #bbb;
    text-decoration: none;
}

/* Styling for the "Explore repositories" section */
.explore-repos {
    background-color: #f6f8fa;
    padding: 50px 0;
    text-align: center;
}

.explore-repos h2 {
    font-size: 28px;
    margin-bottom: 20px;
}

.repo-list {
    display: flex;
    justify-content: center;
    gap: 40px;
    flex-wrap: wrap;
}

.repo-card {
    background-color: #fff;
    border: 1px solid #e1e4e8;
    border-radius: 6px;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 300px;
    transition: transform 0.3s ease;
}

.repo-card:hover {
    transform: translateY(-5px);
}

.repo-card img {
    max-width: 100%;
    border-radius: 6px;
    margin-bottom: 10px;
}

.repo-card h3 {
    font-size: 18px;
    margin-bottom: 8px;
    color: #0366d6;
}

.repo-card p {
    font-size: 14px;
    color: #586069;
}

.repo-card a {
    display: inline-block;
    margin-top: 15px;
    color: #0366d6;
    text-decoration: none;
    font-weight: bold;
}

.repo-card a:hover {
    text-decoration: underline;
}