#galeria{ margin: 0 0 0 15em; /*padding: 0;*/top: 75px;  left: -415px; position: relative; width: 85rem;height: 48.5rem; list-style: none; border: 3px solid rgb(255, 255, 255); border-radius: 15px; box-shadow: 0 0 2px #000; overflow: hidden;}
#galeria li{position: absolute; top: 0rem; left: 0rem; width: 100%;border-radius: 10px;}
#galeria li img{width: 85rem; height: 48.5rem;border-radius: 10px;}
#galeria .selected{z-index: 1; opacity: 1; -moz-transition: all 2s ease 0s;-ms-transition: all 2s ease 0s;-o-transition: all 2s ease 0s;-webkit-transition: all 2s ease 0s;transition: all 2s ease 0s;
}
#galeria .noselected{z-index: 0; opacity: 0; -moz-transition: all 4s ease 0s;-ms-transition: all 4s ease 0s;-o-transition: all 4s ease 0s;-webkit-transition: all 4s ease 0s;transition: all 4s ease 0s;
-moz-transform: translateX(-100%);
-webkit-transform: translateX(-100%);
-o-transform: translateX(-100%);
-moz-transition: all 0.6s ease;
-webkit-transition: all 0.6s ease;
-o-transition: all 0.6s ease;
}