[data-theme="ideal"]
.checkbox-primary {
    --chkbg: #26ABD7;
    border-color: #26ABD7;
    --chkfg:#fff;
}
.range{
    --range-shdw:#26ABD7;
}
input[type=file]::file-selector-button{
    background-color: #26ABD7;
    border-color: #26ABD7;
    color:#fff;
}

.toggle{
    background-color: #26ABD7;
    border-color: #26ABD7;
}
.toggle:hover{
    background-color: #26ABD7;
}
table tbody tr:hover{
    background-color: #26ABD7;
    color:#fff;
    cursor: pointer;
}
